---
import Welcome from '../../components/Welcome.astro';
import Layout from '../../layouts/Layout.astro';
import NewsList from '../../components/NewsList.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title='チャットボット'
  headerTitle='チャットボット'
>
  <div class="container">
    <div class="contents">
      <section class="box">
      </section>
    </div>
  </div>
</Layout>

<style lang="scss">
  .container{
    padding-bottom: 80px;
  }

  .contents{

  }

  .box{
    margin-top: 32px;
  }
</style>

<script>
    const tag_btns = document.querySelectorAll('#tag_item')
	tag_btns.forEach((tag_btn_target) => {
		tag_btn_target.addEventListener('click', () => {
			tag_btns.forEach((tag_btn_all) => {
				tag_btn_all.classList.remove('active')
			})
			tag_btn_target.classList.add('active')
		})
		tag_btn_target.addEventListener('mouseover', () => {
			tag_btn_target.classList.add('tag_item_mouseover')
			tag_btn_target.classList.remove('tag_item_mouseleave')
		})
		tag_btn_target.addEventListener('mouseleave', () => {
			tag_btn_target.classList.remove('tag_item_mouseover')
			tag_btn_target.classList.add('tag_item_mouseleave')
		})
	})
</script>
