---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title='創造工学デザイン論'
  subtitle='授業'
  headerTitle='創造工学デザイン論'
>
  <div class="container">
    <div class="contents">
      <div class="title_wrapper">
        <a href="/class/" class="page_back">
          <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
          </svg>            
        </a>
        <h3 class="classname">創造工学デザイン論</h3>
      </div>
      <nav class="tag">
        <ul class="tag_list">
          <li class="tag_item active">
            <button class="tag_btn active" id="tag_item">トップ</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">お知らせ</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">資料</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">レポート</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">テスト</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">シラバス</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">アンケート</button>
          </li>
        </ul>
      </nav>
      <section class="box">
        <p class="box_label">未提出</p>
        <div class="card_wrapper">
          <button class="card_item">
            <div class="card_item_left">
              <p class="card_item_limit">あと14時間</p>
              <h4 class="card_item_title">卒研タイトル提出</h4>
              <p class="card_item_time">2024-11-11</p>
            </div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
            </svg>              
          </button>
          <button class="card_item">
            <div class="card_item_left">
              <p class="card_item_limit">あと14時間</p>
              <h4 class="card_item_title">卒研タイトル提出</h4>
              <p class="card_item_time">2024-11-11</p>
            </div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
            </svg>              
          </button>
          <button class="card_item">
            <div class="card_item_left">
              <p class="card_item_limit">あと14時間</p>
              <h4 class="card_item_title">卒研タイトル提出</h4>
              <p class="card_item_time">2024-11-11</p>
            </div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
            </svg>              
          </button>
        </div>
      </section>
      <section class="box">
        <p class="box_label">お知らせ</p>
        <ul class="news_list">
          <li class="news_item">
            <p class="news_label">
              <span class="news_pub">2024-11-11</span>
            </p>
            <a href="#" class="news_text">緊急事態宣言の発令により、来週の授業は無しです。</a>
          </li>
          <li class="news_item">
            <p class="news_label">
              <span class="news_pub">2024-11-11</span>
            </p>
            <a href="#" class="news_text">緊急事態宣言の発令により、来週の授業は無しです。</a>
          </li>
          <li class="news_item">
            <p class="news_label">
              <span class="news_pub">2024-11-11</span>
            </p>
            <a href="#" class="news_text">緊急事態宣言の発令により、来週の授業は無しです。</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</Layout>

<style lang="scss">
  .container{
    padding-bottom: 80px;
    min-height: 100dvh;

    @media (width >= 1920px) {
			padding-inline: 16px;
		}
  }

  .contents{
    margin-top: 40px;
    
    @media (width < 768px) {
      margin-top: 24px;
    }
  }

  .classname{
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid #66666d;
    font-size: 20px;
    font-weight: 500;
    color: #252528;
  }

  .title_wrapper{
    display: flex;
    align-items: center;
  }
  
  .page_back{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 16px;
    background-color: #dadae3;
    transform: rotate(180deg);
  }

 .tag{
		margin-top: 24px;
		display: flex;
		gap: 8;
		align-items: center;

		&_list{
			display: flex;
			align-items: center;
			gap: 8px;
		}

		&_item{
			font-size: 12px;
			color: #66666d;
			font-weight: 500;

			>.active{
				color: #fff;
				background-color: #252528;
			}

			@media (width < 1080px) {
			  font-size: 10px;
	    }
		}

		&_btn{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 72px;
      height: 32px;
			border-radius: 8px;

			@media (width < 1080px) {
				width: 44px;
				height: 32px;
		  }
		}
	} 

  .box{
    margin-top: 32px;

    &_label{
      font-size: 14px;
      font-weight: 400;
      color: #66666d;
    }
  }

  .card_wrapper{
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
  }

  .card_item{
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #dadae3;

    &_left{
      flex: 1;
    }

    &_limit{
      font-size: 12px;
    }

    &_title{
      margin-top: 12px;
      font-size: 16px;
      font-weight: 500;
      color: #252528;
    }

    &_time{
      font-size: 12px;
      margin-top: 8px;
    }
  }

  .news{
    &_list{
				display: flex;
				flex-direction: column;
				gap: 16px;
				margin-top: 24px;
        padding: 0 8px;
			}

			&_item{
			}

			&_label{
				font-size: 12px;
				font-weight: 400;
				color: #66666d;
			}

			// &_pub{
			//   margin-left: 8px;
			// }

			&_text{
				display: block;
				margin-top: 16px;
				font-size: 14px;
				font-weight: 400;
				color: #252528;
				text-decoration: underline;
			}
  }
</style>

<script>
    const tag_btns = document.querySelectorAll('#tag_item')
	tag_btns.forEach((tag_btn_target) => {
		tag_btn_target.addEventListener('click', () => {
			tag_btns.forEach((tag_btn_all) => {
				tag_btn_all.classList.remove('active')
			})
			tag_btn_target.classList.add('active')
		})
		tag_btn_target.addEventListener('mouseover', () => {
			tag_btn_target.classList.add('tag_item_mouseover')
			tag_btn_target.classList.remove('tag_item_mouseleave')
		})
		tag_btn_target.addEventListener('mouseleave', () => {
			tag_btn_target.classList.remove('tag_item_mouseover')
			tag_btn_target.classList.add('tag_item_mouseleave')
		})
	})
</script>
