---
import Welcome from '../../components/Welcome.astro';
import Layout from '../../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title='授業'
  headerTitle='授業'
>
  <div class="contents">
    <div class="box">
      <div class="switch">
        <button class="switch_btn active">
          <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.66669 4.49984C2.66669 4.14622 2.80716 3.80708 3.05721 3.55703C3.30726 3.30698 3.6464 3.1665 4.00002 3.1665H12C12.3536 3.1665 12.6928 3.30698 12.9428 3.55703C13.1929 3.80708 13.3334 4.14622 13.3334 4.49984V5.83317C13.3334 6.18679 13.1929 6.52593 12.9428 6.77598C12.6928 7.02603 12.3536 7.1665 12 7.1665H4.00002C3.6464 7.1665 3.30726 7.02603 3.05721 6.77598C2.80716 6.52593 2.66669 6.18679 2.66669 5.83317V4.49984ZM2.66669 11.1665C2.66669 10.8129 2.80716 10.4737 3.05721 10.2237C3.30726 9.97365 3.6464 9.83317 4.00002 9.83317H12C12.3536 9.83317 12.6928 9.97365 12.9428 10.2237C13.1929 10.4737 13.3334 10.8129 13.3334 11.1665V12.4998C13.3334 12.8535 13.1929 13.1926 12.9428 13.4426C12.6928 13.6927 12.3536 13.8332 12 13.8332H4.00002C3.6464 13.8332 3.30726 13.6927 3.05721 13.4426C2.80716 13.1926 2.66669 12.8535 2.66669 12.4998V11.1665Z" stroke="#252528" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <p class="switch_btn_label active">リスト表示</p>
        </button>
        <button class="switch_btn">
          <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.66669 3.83317C2.66669 3.65636 2.73693 3.48679 2.86195 3.36177C2.98697 3.23674 3.15654 3.1665 3.33335 3.1665H6.00002C6.17683 3.1665 6.3464 3.23674 6.47142 3.36177C6.59645 3.48679 6.66669 3.65636 6.66669 3.83317V6.49984C6.66669 6.67665 6.59645 6.84622 6.47142 6.97124C6.3464 7.09627 6.17683 7.1665 6.00002 7.1665H3.33335C3.15654 7.1665 2.98697 7.09627 2.86195 6.97124C2.73693 6.84622 2.66669 6.67665 2.66669 6.49984V3.83317ZM9.33335 3.83317C9.33335 3.65636 9.40359 3.48679 9.52862 3.36177C9.65364 3.23674 9.82321 3.1665 10 3.1665H12.6667C12.8435 3.1665 13.0131 3.23674 13.1381 3.36177C13.2631 3.48679 13.3334 3.65636 13.3334 3.83317V6.49984C13.3334 6.67665 13.2631 6.84622 13.1381 6.97124C13.0131 7.09627 12.8435 7.1665 12.6667 7.1665H10C9.82321 7.1665 9.65364 7.09627 9.52862 6.97124C9.40359 6.84622 9.33335 6.67665 9.33335 6.49984V3.83317ZM2.66669 10.4998C2.66669 10.323 2.73693 10.1535 2.86195 10.0284C2.98697 9.90341 3.15654 9.83317 3.33335 9.83317H6.00002C6.17683 9.83317 6.3464 9.90341 6.47142 10.0284C6.59645 10.1535 6.66669 10.323 6.66669 10.4998V13.1665C6.66669 13.3433 6.59645 13.5129 6.47142 13.6379C6.3464 13.7629 6.17683 13.8332 6.00002 13.8332H3.33335C3.15654 13.8332 2.98697 13.7629 2.86195 13.6379C2.73693 13.5129 2.66669 13.3433 2.66669 13.1665V10.4998ZM9.33335 10.4998C9.33335 10.323 9.40359 10.1535 9.52862 10.0284C9.65364 9.90341 9.82321 9.83317 10 9.83317H12.6667C12.8435 9.83317 13.0131 9.90341 13.1381 10.0284C13.2631 10.1535 13.3334 10.323 13.3334 10.4998V13.1665C13.3334 13.3433 13.2631 13.5129 13.1381 13.6379C13.0131 13.7629 12.8435 13.8332 12.6667 13.8332H10C9.82321 13.8332 9.65364 13.7629 9.52862 13.6379C9.40359 13.5129 9.33335 13.3433 9.33335 13.1665V10.4998Z" stroke="#66666D" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>            
          <p class="switch_btn_label">時間割表示</p>
        </button>
      </div>
      <nav class="tag">
        <ul class="tag_list">
          <li class="tag_item active">
            <button class="tag_btn active" id="tag_item">月曜</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">火曜</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">水曜</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">木曜</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">金曜</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">土曜</button>
          </li>
        </ul>
      </nav>
      <section class="class_container">
        <div class="time_list">
          <div class="time_item">
            <p class="time_period">1</p>
            <p class="time_number">9:00 - 10:00</p>
          </div>
          <div class="time_item">
            <p class="time_period">2</p>
            <p class="time_number">10:00 - 11:00</p>
          </div>
          <div class="time_item">
            <p class="time_period">3</p>
            <p class="time_number">11:00 - 12:00</p>
          </div>
          <div class="time_item">
            <p class="time_period">4</p>
            <p class="time_number">12:00 - 13:00</p>
          </div>
          <div class="time_item">
            <p class="time_period">5</p>
            <p class="time_number">13:00 - 14:00</p>
          </div>
          <div class="time_item">
            <p class="time_period">6</p>
            <p class="time_number">14:00 - 15:00</p>
          </div>
          <div class="time_item">
            <p class="time_period">7</p>
            <p class="time_number">15:00 - 16:00</p>
          </div>
          <div class="time_item">
            <p class="time_period">8</p>
            <p class="time_number">16:00 - 17:00</p>
          </div>
          <div class="time_item">
            <p class="time_period">9</p>
            <p class="time_number">17:00 - 18:00</p>
          </div>
          <div class="time_item">
            <p class="time_period">10</p>
            <p class="time_number">18:00 - 19:00</p>
          </div>
        </div>
        <div class="class_list">
          <a href="/class/class" class="class_item">
            <h4 class="class_name">創造工学デザイン論</h4>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.4417 10.058C15.5581 10.1756 15.6234 10.3343 15.6234 10.4997C15.6234 10.6651 15.5581 10.8239 15.4417 10.9414L11.275 15.108C11.2178 15.1694 11.1488 15.2187 11.0721 15.2529C10.9954 15.287 10.9127 15.3054 10.8288 15.3069C10.7448 15.3083 10.6615 15.2929 10.5837 15.2615C10.5058 15.23 10.4351 15.1833 10.3758 15.1239C10.3164 15.0646 10.2697 14.9939 10.2382 14.916C10.2068 14.8382 10.1914 14.7549 10.1928 14.6709C10.1943 14.587 10.2127 14.5043 10.2468 14.4276C10.281 14.3509 10.3303 14.2819 10.3917 14.2247L13.4917 11.1247H5C4.83424 11.1247 4.67526 11.0589 4.55805 10.9417C4.44084 10.8244 4.375 10.6655 4.375 10.4997C4.375 10.3339 4.44084 10.175 4.55805 10.0578C4.67526 9.94056 4.83424 9.87471 5 9.87471H13.4917L10.3917 6.77471C10.2813 6.65623 10.2212 6.49952 10.224 6.33761C10.2269 6.17569 10.2925 6.0212 10.407 5.90669C10.5215 5.79218 10.676 5.72659 10.8379 5.72373C10.9998 5.72087 11.1565 5.78098 11.275 5.89138L15.4417 10.058Z" fill="#252528"/>
            </svg>                                
          </a>         
          <a href="class" class="class_item">
            <h4 class="class_name">創造工学デザイン論</h4>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.4417 10.058C15.5581 10.1756 15.6234 10.3343 15.6234 10.4997C15.6234 10.6651 15.5581 10.8239 15.4417 10.9414L11.275 15.108C11.2178 15.1694 11.1488 15.2187 11.0721 15.2529C10.9954 15.287 10.9127 15.3054 10.8288 15.3069C10.7448 15.3083 10.6615 15.2929 10.5837 15.2615C10.5058 15.23 10.4351 15.1833 10.3758 15.1239C10.3164 15.0646 10.2697 14.9939 10.2382 14.916C10.2068 14.8382 10.1914 14.7549 10.1928 14.6709C10.1943 14.587 10.2127 14.5043 10.2468 14.4276C10.281 14.3509 10.3303 14.2819 10.3917 14.2247L13.4917 11.1247H5C4.83424 11.1247 4.67526 11.0589 4.55805 10.9417C4.44084 10.8244 4.375 10.6655 4.375 10.4997C4.375 10.3339 4.44084 10.175 4.55805 10.0578C4.67526 9.94056 4.83424 9.87471 5 9.87471H13.4917L10.3917 6.77471C10.2813 6.65623 10.2212 6.49952 10.224 6.33761C10.2269 6.17569 10.2925 6.0212 10.407 5.90669C10.5215 5.79218 10.676 5.72659 10.8379 5.72373C10.9998 5.72087 11.1565 5.78098 11.275 5.89138L15.4417 10.058Z" fill="#252528"/>
            </svg>                                
          </a>      
          <a href="class" class="class_item">
            <h4 class="class_name">創造工学デザイン論</h4>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.4417 10.058C15.5581 10.1756 15.6234 10.3343 15.6234 10.4997C15.6234 10.6651 15.5581 10.8239 15.4417 10.9414L11.275 15.108C11.2178 15.1694 11.1488 15.2187 11.0721 15.2529C10.9954 15.287 10.9127 15.3054 10.8288 15.3069C10.7448 15.3083 10.6615 15.2929 10.5837 15.2615C10.5058 15.23 10.4351 15.1833 10.3758 15.1239C10.3164 15.0646 10.2697 14.9939 10.2382 14.916C10.2068 14.8382 10.1914 14.7549 10.1928 14.6709C10.1943 14.587 10.2127 14.5043 10.2468 14.4276C10.281 14.3509 10.3303 14.2819 10.3917 14.2247L13.4917 11.1247H5C4.83424 11.1247 4.67526 11.0589 4.55805 10.9417C4.44084 10.8244 4.375 10.6655 4.375 10.4997C4.375 10.3339 4.44084 10.175 4.55805 10.0578C4.67526 9.94056 4.83424 9.87471 5 9.87471H13.4917L10.3917 6.77471C10.2813 6.65623 10.2212 6.49952 10.224 6.33761C10.2269 6.17569 10.2925 6.0212 10.407 5.90669C10.5215 5.79218 10.676 5.72659 10.8379 5.72373C10.9998 5.72087 11.1565 5.78098 11.275 5.89138L15.4417 10.058Z" fill="#252528"/>
            </svg>                                
          </a>      
          <a href="class" class="class_item">
            <h4 class="class_name">創造工学デザイン論</h4>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.4417 10.058C15.5581 10.1756 15.6234 10.3343 15.6234 10.4997C15.6234 10.6651 15.5581 10.8239 15.4417 10.9414L11.275 15.108C11.2178 15.1694 11.1488 15.2187 11.0721 15.2529C10.9954 15.287 10.9127 15.3054 10.8288 15.3069C10.7448 15.3083 10.6615 15.2929 10.5837 15.2615C10.5058 15.23 10.4351 15.1833 10.3758 15.1239C10.3164 15.0646 10.2697 14.9939 10.2382 14.916C10.2068 14.8382 10.1914 14.7549 10.1928 14.6709C10.1943 14.587 10.2127 14.5043 10.2468 14.4276C10.281 14.3509 10.3303 14.2819 10.3917 14.2247L13.4917 11.1247H5C4.83424 11.1247 4.67526 11.0589 4.55805 10.9417C4.44084 10.8244 4.375 10.6655 4.375 10.4997C4.375 10.3339 4.44084 10.175 4.55805 10.0578C4.67526 9.94056 4.83424 9.87471 5 9.87471H13.4917L10.3917 6.77471C10.2813 6.65623 10.2212 6.49952 10.224 6.33761C10.2269 6.17569 10.2925 6.0212 10.407 5.90669C10.5215 5.79218 10.676 5.72659 10.8379 5.72373C10.9998 5.72087 11.1565 5.78098 11.275 5.89138L15.4417 10.058Z" fill="#252528"/>
            </svg>                                
          </a>      
          <a href="class" class="class_item">
            <h4 class="class_name"></h4>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.4417 10.058C15.5581 10.1756 15.6234 10.3343 15.6234 10.4997C15.6234 10.6651 15.5581 10.8239 15.4417 10.9414L11.275 15.108C11.2178 15.1694 11.1488 15.2187 11.0721 15.2529C10.9954 15.287 10.9127 15.3054 10.8288 15.3069C10.7448 15.3083 10.6615 15.2929 10.5837 15.2615C10.5058 15.23 10.4351 15.1833 10.3758 15.1239C10.3164 15.0646 10.2697 14.9939 10.2382 14.916C10.2068 14.8382 10.1914 14.7549 10.1928 14.6709C10.1943 14.587 10.2127 14.5043 10.2468 14.4276C10.281 14.3509 10.3303 14.2819 10.3917 14.2247L13.4917 11.1247H5C4.83424 11.1247 4.67526 11.0589 4.55805 10.9417C4.44084 10.8244 4.375 10.6655 4.375 10.4997C4.375 10.3339 4.44084 10.175 4.55805 10.0578C4.67526 9.94056 4.83424 9.87471 5 9.87471H13.4917L10.3917 6.77471C10.2813 6.65623 10.2212 6.49952 10.224 6.33761C10.2269 6.17569 10.2925 6.0212 10.407 5.90669C10.5215 5.79218 10.676 5.72659 10.8379 5.72373C10.9998 5.72087 11.1565 5.78098 11.275 5.89138L15.4417 10.058Z" fill="#252528"/>
            </svg>                                
          </a>      
          <a href="class" class="class_item">
            <h4 class="class_name"></h4>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.4417 10.058C15.5581 10.1756 15.6234 10.3343 15.6234 10.4997C15.6234 10.6651 15.5581 10.8239 15.4417 10.9414L11.275 15.108C11.2178 15.1694 11.1488 15.2187 11.0721 15.2529C10.9954 15.287 10.9127 15.3054 10.8288 15.3069C10.7448 15.3083 10.6615 15.2929 10.5837 15.2615C10.5058 15.23 10.4351 15.1833 10.3758 15.1239C10.3164 15.0646 10.2697 14.9939 10.2382 14.916C10.2068 14.8382 10.1914 14.7549 10.1928 14.6709C10.1943 14.587 10.2127 14.5043 10.2468 14.4276C10.281 14.3509 10.3303 14.2819 10.3917 14.2247L13.4917 11.1247H5C4.83424 11.1247 4.67526 11.0589 4.55805 10.9417C4.44084 10.8244 4.375 10.6655 4.375 10.4997C4.375 10.3339 4.44084 10.175 4.55805 10.0578C4.67526 9.94056 4.83424 9.87471 5 9.87471H13.4917L10.3917 6.77471C10.2813 6.65623 10.2212 6.49952 10.224 6.33761C10.2269 6.17569 10.2925 6.0212 10.407 5.90669C10.5215 5.79218 10.676 5.72659 10.8379 5.72373C10.9998 5.72087 11.1565 5.78098 11.275 5.89138L15.4417 10.058Z" fill="#252528"/>
            </svg>                                
          </a>      
          <a href="class" class="class_item">
            <h4 class="class_name"></h4>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.4417 10.058C15.5581 10.1756 15.6234 10.3343 15.6234 10.4997C15.6234 10.6651 15.5581 10.8239 15.4417 10.9414L11.275 15.108C11.2178 15.1694 11.1488 15.2187 11.0721 15.2529C10.9954 15.287 10.9127 15.3054 10.8288 15.3069C10.7448 15.3083 10.6615 15.2929 10.5837 15.2615C10.5058 15.23 10.4351 15.1833 10.3758 15.1239C10.3164 15.0646 10.2697 14.9939 10.2382 14.916C10.2068 14.8382 10.1914 14.7549 10.1928 14.6709C10.1943 14.587 10.2127 14.5043 10.2468 14.4276C10.281 14.3509 10.3303 14.2819 10.3917 14.2247L13.4917 11.1247H5C4.83424 11.1247 4.67526 11.0589 4.55805 10.9417C4.44084 10.8244 4.375 10.6655 4.375 10.4997C4.375 10.3339 4.44084 10.175 4.55805 10.0578C4.67526 9.94056 4.83424 9.87471 5 9.87471H13.4917L10.3917 6.77471C10.2813 6.65623 10.2212 6.49952 10.224 6.33761C10.2269 6.17569 10.2925 6.0212 10.407 5.90669C10.5215 5.79218 10.676 5.72659 10.8379 5.72373C10.9998 5.72087 11.1565 5.78098 11.275 5.89138L15.4417 10.058Z" fill="#252528"/>
            </svg>                                
          </a>      
          <a href="class" class="class_item">
            <h4 class="class_name"></h4>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.4417 10.058C15.5581 10.1756 15.6234 10.3343 15.6234 10.4997C15.6234 10.6651 15.5581 10.8239 15.4417 10.9414L11.275 15.108C11.2178 15.1694 11.1488 15.2187 11.0721 15.2529C10.9954 15.287 10.9127 15.3054 10.8288 15.3069C10.7448 15.3083 10.6615 15.2929 10.5837 15.2615C10.5058 15.23 10.4351 15.1833 10.3758 15.1239C10.3164 15.0646 10.2697 14.9939 10.2382 14.916C10.2068 14.8382 10.1914 14.7549 10.1928 14.6709C10.1943 14.587 10.2127 14.5043 10.2468 14.4276C10.281 14.3509 10.3303 14.2819 10.3917 14.2247L13.4917 11.1247H5C4.83424 11.1247 4.67526 11.0589 4.55805 10.9417C4.44084 10.8244 4.375 10.6655 4.375 10.4997C4.375 10.3339 4.44084 10.175 4.55805 10.0578C4.67526 9.94056 4.83424 9.87471 5 9.87471H13.4917L10.3917 6.77471C10.2813 6.65623 10.2212 6.49952 10.224 6.33761C10.2269 6.17569 10.2925 6.0212 10.407 5.90669C10.5215 5.79218 10.676 5.72659 10.8379 5.72373C10.9998 5.72087 11.1565 5.78098 11.275 5.89138L15.4417 10.058Z" fill="#252528"/>
            </svg>                                
          </a>      
          <a href="class" class="class_item">
            <h4 class="class_name"></h4>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.4417 10.058C15.5581 10.1756 15.6234 10.3343 15.6234 10.4997C15.6234 10.6651 15.5581 10.8239 15.4417 10.9414L11.275 15.108C11.2178 15.1694 11.1488 15.2187 11.0721 15.2529C10.9954 15.287 10.9127 15.3054 10.8288 15.3069C10.7448 15.3083 10.6615 15.2929 10.5837 15.2615C10.5058 15.23 10.4351 15.1833 10.3758 15.1239C10.3164 15.0646 10.2697 14.9939 10.2382 14.916C10.2068 14.8382 10.1914 14.7549 10.1928 14.6709C10.1943 14.587 10.2127 14.5043 10.2468 14.4276C10.281 14.3509 10.3303 14.2819 10.3917 14.2247L13.4917 11.1247H5C4.83424 11.1247 4.67526 11.0589 4.55805 10.9417C4.44084 10.8244 4.375 10.6655 4.375 10.4997C4.375 10.3339 4.44084 10.175 4.55805 10.0578C4.67526 9.94056 4.83424 9.87471 5 9.87471H13.4917L10.3917 6.77471C10.2813 6.65623 10.2212 6.49952 10.224 6.33761C10.2269 6.17569 10.2925 6.0212 10.407 5.90669C10.5215 5.79218 10.676 5.72659 10.8379 5.72373C10.9998 5.72087 11.1565 5.78098 11.275 5.89138L15.4417 10.058Z" fill="#252528"/>
            </svg>                                
          </a>      
          <a href="class" class="class_item">
            <h4 class="class_name"></h4>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.4417 10.058C15.5581 10.1756 15.6234 10.3343 15.6234 10.4997C15.6234 10.6651 15.5581 10.8239 15.4417 10.9414L11.275 15.108C11.2178 15.1694 11.1488 15.2187 11.0721 15.2529C10.9954 15.287 10.9127 15.3054 10.8288 15.3069C10.7448 15.3083 10.6615 15.2929 10.5837 15.2615C10.5058 15.23 10.4351 15.1833 10.3758 15.1239C10.3164 15.0646 10.2697 14.9939 10.2382 14.916C10.2068 14.8382 10.1914 14.7549 10.1928 14.6709C10.1943 14.587 10.2127 14.5043 10.2468 14.4276C10.281 14.3509 10.3303 14.2819 10.3917 14.2247L13.4917 11.1247H5C4.83424 11.1247 4.67526 11.0589 4.55805 10.9417C4.44084 10.8244 4.375 10.6655 4.375 10.4997C4.375 10.3339 4.44084 10.175 4.55805 10.0578C4.67526 9.94056 4.83424 9.87471 5 9.87471H13.4917L10.3917 6.77471C10.2813 6.65623 10.2212 6.49952 10.224 6.33761C10.2269 6.17569 10.2925 6.0212 10.407 5.90669C10.5215 5.79218 10.676 5.72659 10.8379 5.72373C10.9998 5.72087 11.1565 5.78098 11.275 5.89138L15.4417 10.058Z" fill="#252528"/>
            </svg>                                
          </a>      
        </div>
      </section>
    </div>
  </div>
</Layout>

<style lang="scss">
   .contents{
    padding-bottom: 80px;
    min-height: 100dvh;


		@media (width >= 1920px) {
			padding-inline: 16px;
		}
  }

  .box{
    margin-top: 40px;

    @media (width < 768px) {
      margin-top: 24px;
    }
  }

  .switch{
    display: flex;
    align-items: center;
    gap: 4px;

    >.active{
      background-color: #dadae3;
    }

    &_btn{
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 16px;
      border-radius: 16px;

      @media (width >= 1920px) {
			  padding: 16px;
		  }

      >.active{
        color: #252528;
        font-weight: 500;
      }

      &_label{
        font-size: 12px;
        color: #66666d;
        font-weight: 400;
      }
    }
  }

  .tag{
		margin-top: 24px;
		display: flex;
		gap: 8;
		align-items: center;
    overflow-x: scroll;
  
    &::-webkit-scrollbar{
      display: none;
    }

		&_list{
      display: flex;
      min-width: 440px;
			align-items: center;
			gap: 8px;
		}

		&_item{
			font-size: 12px;
			color: #66666d;
			font-weight: 500;

			>.active{
				color: #fff;
				background-color: #252528;
			}
		}

    &_btn{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 56px;
			height: 36px;
			border-radius: 100px;

      @media (width < 1080px) {
        font-size: 10px;
      }
		}
	}

  .class_container{
    display: grid;
    grid-template-columns: auto 1fr; /* 左:右の比率 */
    margin-top: 16px;
    padding: 0 16px;

    @media (width < 414px) {
      padding: 0 8px;
    }
  }

  .time_list, .class_list {
    display: grid;
    grid-auto-rows: 1fr; /* 各行の高さを均等に */
    gap: 8px;
  }

  .time_item{
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    font-size: 14px;
    color: #66666d;

    @media (width < 414px) {
      font-size: 12px;
      padding: 16px 0;
      margin-right: 8px;
      align-items: baseline;
    }
  }

  .class_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba($color: #252528, $alpha: 0.25);
  }

  .class_none{
    background-color: #F9F9F9;
    box-shadow: none;
  }

  .class_name{
    font-size: 14px;
    font-weight: 500;
    color: #252528;

    @media (width < 414px) {
      font-size: 12px;
    }
  }
</style>


<script>
    const tag_btns = document.querySelectorAll('#tag_item')
	tag_btns.forEach((tag_btn_target) => {
		tag_btn_target.addEventListener('click', () => {
			tag_btns.forEach((tag_btn_all) => {
				tag_btn_all.classList.remove('active')
			})
			tag_btn_target.classList.add('active')
		})
		tag_btn_target.addEventListener('mouseover', () => {
			tag_btn_target.classList.add('tag_item_mouseover')
			tag_btn_target.classList.remove('tag_item_mouseleave')
		})
		tag_btn_target.addEventListener('mouseleave', () => {
			tag_btn_target.classList.remove('tag_item_mouseover')
			tag_btn_target.classList.add('tag_item_mouseleave')
		})
	})
</script>
