---
import Welcome from '../../components/Welcome.astro';
import Layout from '../../layouts/Layout.astro';
import QAitem from '../../components/QAitem.astro';
import FAQ from '../../components/FAQ.astro';
import HelpCourse from '../../components/HelpCourse.astro';
import HelpClass from '../../components/HelpClass.astro';
import HelpGrades from '../../components/HelpGrades.astro';
import HelpUse from '../../components/HelpUse.astro';
import HelpAccount from '../../components/HelpAccount.astro';
import HelpService from '../../components/HelpService.astro';
import HelpChat from '../../components/HelpChat.astro';

const questions = [
  {
    question: 'ID、パスワードを忘れてしまいました。どうすればいいですか？',
    answer: '下記のメールアドレスにその旨を伝えてください。cit@gmail.com',
  },
  {
    question: '履修登録を期限内に行うのを忘れました。どうすればいいですか？',
    answer: '学務課に相談してください。',
  },
  {
    question: '卒業要件単位はどこで確認できますか？',
    answer: '大学のポータルサイトにログインして確認してください。',
  },
];
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title='ヘルプ'
  headerTitle='ヘルプ'
>
  <div class="contents">
    <section class="box">
      <nav class="help_nav">
        <button class="sp_nav_btn" id="sp_nav_btn">
          <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.3134 9.47995C10.3592 9.43083 10.4144 9.39143 10.4757 9.3641C10.537 9.33677 10.6032 9.32208 10.6704 9.32089C10.7375 9.31971 10.8042 9.33206 10.8665 9.3572C10.9287 9.38235 10.9853 9.41978 11.0328 9.46726C11.0802 9.51474 11.1177 9.57129 11.1428 9.63355C11.168 9.69581 11.1803 9.7625 11.1791 9.82963C11.1779 9.89677 11.1632 9.96298 11.1359 10.0243C11.1086 10.0856 11.0692 10.1408 11.0201 10.1866L8.35339 12.8533C8.25964 12.9469 8.13256 12.9995 8.00006 12.9995C7.86756 12.9995 7.74048 12.9469 7.64673 12.8533L4.98006 10.1866C4.93094 10.1408 4.89153 10.0856 4.86421 10.0243C4.83688 9.96298 4.82218 9.89677 4.821 9.82963C4.81982 9.7625 4.83216 9.69581 4.85731 9.63355C4.88246 9.57129 4.91989 9.51474 4.96737 9.46726C5.01485 9.41978 5.0714 9.38235 5.13366 9.3572C5.19592 9.33206 5.26261 9.31971 5.32974 9.32089C5.39688 9.32208 5.46309 9.33677 5.52442 9.3641C5.58575 9.39143 5.64095 9.43083 5.68673 9.47995L7.50006 11.2933V4.83329C7.50006 4.70068 7.55274 4.5735 7.64651 4.47973C7.74028 4.38596 7.86745 4.33329 8.00006 4.33329C8.13267 4.33329 8.25985 4.38596 8.35361 4.47973C8.44738 4.5735 8.50006 4.70068 8.50006 4.83329V11.2933L10.3134 9.47995Z" fill="#66666D"/>
          </svg>          
        </button>
        <ul class="help_nav_list">
          <li class="help_nav_item active" id="H_chat_btn">
            <button class="help_nav_link">
              <p class="help_nav_number">0.</p>
              <p class="help_nav_title">チャットボット</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
              </svg>                
            </button>
          </li>
          <li class="help_nav_item" id="FAQ_btn">
            <button class="help_nav_link">
              <p class="help_nav_number">1.</p>
              <p class="help_nav_title">よくある質問</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
              </svg>                
            </button>
          </li>
          <li class="help_nav_item" id="H_use_btn">
            <button class="help_nav_link">
              <p class="help_nav_number">2.</p>
              <p class="help_nav_title">使い方</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
              </svg>                
            </button>
          </li>
          <li class="help_nav_item" id="H_class_btn">
            <button class="help_nav_link">
              <p class="help_nav_number">3.</p>
              <p class="help_nav_title">授業</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
              </svg>                
            </button>
          </li>
          <li class="help_nav_item" id="H_grades_btn">
            <button class="help_nav_link">
              <p class="help_nav_number">4.</p>
              <p class="help_nav_title">成績</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
              </svg>                
            </button>
          </li>
          <li class="help_nav_item" id="H_course_btn">
            <button class="help_nav_link">
              <p class="help_nav_number">5.</p>
              <p class="help_nav_title">履修</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
              </svg>                
            </button>
          </li>
          <li class="help_nav_item" id="H_service_btn">
            <button class="help_nav_link">
              <p class="help_nav_number">6.</p>
              <p class="help_nav_title">外部サービス</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
              </svg>                
            </button>
          </li>
          <li class="help_nav_item" id="H_account_btn">
            <button class="help_nav_link">
              <p class="help_nav_number">7.</p>
              <p class="help_nav_title">ユーザー情報</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
              </svg>                
            </button>
          </li>
          <li class="help_nav_item">
            <a href="" class="help_nav_link">
              <p class="help_nav_number">8.</p>
              <p class="help_nav_title">パスワード変更</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
              </svg>                
            </a>
          </li>
        </ul>
      </nav>
    </section>
    <section class="ai">
      <!-- <h3 class="ai_title">AIに相談</h3> -->
    </section>
    <HelpChat />
    <FAQ additionalClass="" />
    <HelpUse />
    <HelpClass />
    <HelpGrades />
    <HelpCourse />
    <HelpService />
    <HelpAccount />
    <div class="help_section_btnwrapper dis-none" id="help_section_btnwrapper">
      <button class="help_section_btn_prev" id="prev_btn">
        <div class="help_section_btn_textwrapper">
          <p class="help_section_btn_number" id="prev_number">0.</p>
          <p class="help_section_btn_label" id="prev_label">チャットボット</p>
        </div>
        <div class="help_section_btn_navwrapper">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
          </svg>
          <p class="help_section_btn_navlabel">前</p>
        </div>
      </button>
      <button class="help_section_btn_next" id="next_btn">
        <div class="help_section_btn_textwrapper">
          <p class="help_section_btn_number" id="next_number">1.</p>
          <p class="help_section_btn_label" id="next_label">よくある質問</p>
        </div>
        <div class="help_section_btn_navwrapper">
          <p class="help_section_btn_navlabel">次</p>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
          </svg>
        </div>
      </button>
    </div>
    <!-- <div class="input_box">
      <div class="input_inner">
        <input type="text" class="input">
        <button class="send_btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.9999 10.0002L10.9999 13.0002M20.2879 3.03122C20.3828 2.99847 20.4849 2.99309 20.5827 3.01567C20.6806 3.03825 20.77 3.0879 20.841 3.15893C20.9119 3.22996 20.9614 3.31952 20.9838 3.41736C21.0063 3.5152 21.0007 3.61738 20.9679 3.71222L15.0439 20.6422C15.0084 20.7434 14.9434 20.8316 14.8572 20.8954C14.771 20.9592 14.6676 20.9956 14.5605 20.9999C14.4533 21.0042 14.3473 20.9763 14.2563 20.9196C14.1652 20.863 14.0933 20.7802 14.0499 20.6822L10.8309 13.4402C10.7767 13.3198 10.6803 13.2234 10.5599 13.1692L3.31786 9.94922C3.22016 9.9056 3.13778 9.83368 3.08137 9.74275C3.02495 9.65183 2.9971 9.54608 3.00141 9.43917C3.00572 9.33225 3.04198 9.22909 3.10553 9.14299C3.16907 9.0569 3.25697 8.99184 3.35786 8.95622L20.2879 3.03122Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
        </button>
      </div>
    </div> -->
  </div>
</Layout>


<style lang="scss">
  .test{
  }

  .contents{
    padding-bottom: 120px;
    // height: 100%;
  }

  .box{
    margin-top: 32px;

    &:nth-last-of-type(1){
      padding-top: 32px;
      border-top: 1px solid #dadae3;
    }
  }

  .help_nav{

    .sp_nav_btn{
      display: none;
    }

    &_list{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 8px;

      >.active{
        background-color: #dadae3;
      }
    }

    &_item{
      background-color: #fff;
      border: 1px solid #dadae3;
      border-radius: 12px;
    }

    &_link{
      width: 100%;
      display: flex;
      align-items: center;
      padding: 16px 12px;
    }

    &_number{
      font-size: 12px;
      font-weight: 400;
      color: #66666d;
    }

    &_title{
      margin-left: 8px;
      flex: 1;
      font-size: 12px;
      font-weight: 500;
      color: #66666d;
    }

    @media (width < 768px) {
      width: 100%;
      display: flex;
      gap: 8px;
      padding-bottom: 40px;
      border-bottom: 1px solid #dadae3;

      .sp_nav_btn{
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background-color: #fff;
        border : 1px solid #dadae3;

        >svg{
          // transform: rotate(-90deg);
        }
      }

      &_list{
        width: calc(100% - 32px);
      }
    }
  }

  .help_section_title{
    font-size: 16px;
    color: #252528;
    font-weight: 500;
  }
  
  .help_section{

    &_btnwrapper{
      position: sticky;
      top: 90dvh;
      margin-top: 80px;
    }

    &_btn{

      &_textwrapper{
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        font-weight: 400;
        color: #66666d;
      }

      &_navwrapper{
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        font-weight: 400;
        color: #66666d;
      }
    }

    &_btn_prev{
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap:24px;
      padding: 16px 16px;
      border-radius: 16px;
      background-color: #fff;
      border: 1px solid #dadae3;

      >.help_section_btn_navwrapper{
        >svg{
          transform: rotate(180deg);
        }
      }
    }
    &_btn_next{
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 16px 12px;
      border-radius: 16px;
      background-color: #fff;
      border: 1px solid #dadae3;
    }
  }

  .help_qalist{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .help_qaitem{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 24px;
    background-color: #fff;
    border: 1px solid #dadae3;
    border-radius: 16px;
    cursor: pointer;

    &_question{
      display: flex;
      align-items: center;
    }

    &_number{
      width: 40px;
      font-size: 12px;
      font-weight: 400;
      color: #66666d;
    }

    &_text{
      flex: 1;
      font-size: 12px;
      font-weight: 400;
      color: #252528;
    }

    &_answer{
      display: flex;

      &_icon{
        width: 40px;
        font-size: 12px;
        color: #66666d;
        font-weight: 400;
        line-height: 2;
      }

      &_text{
        font-size: 12px;
        color: #66666d;
        font-weight: 400;
        line-height: 2;
      }
    }
  }

  
  .panel_icon{
    display: block;
    position: relative;
    // background-color: #66666d;

    > .el1{
        position: absolute;
        top: -0.9px;
        left: 50%;
        transform: translateX(-50%);
      }

      > .el2{
        position: absolute;
        top: 50%;
        left: -0.6px;
        transform: translateY(-50%);
        width: 1.8px;
        height: 14px;
      }

    &_elem{
      display: block;
      width: 14px;
      height: 1.8px;
      background-color: #66666d;
      border-radius: 100px;

    }
  }

  .input_box{
    position: absolute;
    top: auto;
    bottom: 40px;
    width: 60%;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    background-color: #252528;
  }

  .inpit_inner{
    display: flex;
    align-items: center;
    width: 100%;
  }

  .input{
    flex: 1;
  }

  .dis-none{
    display: none;
  }
  .dis-flex{
    display: flex;
  }
</style>

<script>
  const nav_btns = document.querySelectorAll('.help_nav_item')
  nav_btns.forEach((nav_btn_target) => {
    nav_btn_target.addEventListener('click', () => {
      H_chat?.classList.add('dis-none')
      H_account?.classList.add('dis-none')
      H_use?.classList.add('dis-none')
      H_service?.classList.add('dis-none')
      H_service?.classList.add('dis-none')
      H_grades?.classList.add('dis-none')
      H_class?.classList.add('dis-none')
      H_course?.classList.add('dis-none')
      FAQ?.classList.add('dis-none')
    })
  })

  const prev_btn = document.getElementById('prev_btn')
  const prev_number = document.getElementById('prev_number')
  const prev_label = document.getElementById('prev_label')
  const next_label = document.getElementById('next_label')
  const next_number = document.getElementById('next_number')
  const next_btn = document.getElementById('next_btn')

  const H_chat = document.getElementById('H_chat')
  const H_chat_btn = document.getElementById('H_chat_btn')
  H_chat_btn?.addEventListener('click', () => {
    H_chat?.classList.remove('dis-none')
  })

  const FAQ = document.getElementById('FAQ') 
  const FAQ_btn = document.getElementById('FAQ_btn') 
  FAQ_btn?.addEventListener('click', () => {
    FAQ?.classList.remove('dis-none')
  })

  const H_course = document.getElementById('H_course')
  const H_course_btn = document.getElementById('H_course_btn') 
  H_course_btn?.addEventListener('click', () => {
    H_course?.classList.remove('dis-none')
  })

  const H_class = document.getElementById('H_class')
  const H_class_btn = document.getElementById('H_class_btn') 
  H_class_btn?.addEventListener('click', () => {
    H_class?.classList.remove('dis-none')
  })

  const H_grades = document.getElementById('H_grades')
  const H_grades_btn = document.getElementById('H_grades_btn') 
  H_grades_btn?.addEventListener('click', () => {
    H_grades?.classList.remove('dis-none')
  })

  const H_service = document.getElementById('H_service')
  const H_service_btn = document.getElementById('H_service_btn') 
  H_service_btn?.addEventListener('click', () => {
    H_service?.classList.remove('dis-none')
  })

  const H_use = document.getElementById('H_use')
  const H_use_btn = document.getElementById('H_use_btn') 
  H_use_btn?.addEventListener('click', () => {
    H_use?.classList.remove('dis-none')
  })

  const H_account = document.getElementById('H_account')
  const H_account_btn = document.getElementById('H_account_btn') 
  H_account_btn?.addEventListener('click', () => {
    H_account?.classList.remove('dis-none')
  })

  const help_section_btnwrapper = document.getElementById('help_section_btnwrapper')

  window.addEventListener('click', () => {
    if(H_chat?.classList.contains('dis-none') == false){
      let help_next_title = FAQ?.querySelector('#help_section_title')
      let help_next_title_label = help_next_title?.textContent?.trim()
      let help_next_number = FAQ?.querySelector('#help_section_number')
      let help_next_number_label = help_next_number?.textContent?.trim()
      let help_prev_title = H_chat?.querySelector('#help_section_title')
      let help_prev_title_label = help_prev_title?.textContent?.trim()
      let help_prev_number = H_chat?.querySelector('#help_section_number')
      let help_prev_number_label = help_prev_number?.textContent?.trim()
      if (next_label && help_next_title_label) {
        next_label.textContent = help_next_title_label
      }
      if (next_number && help_next_number_label) {
        next_number.textContent = help_next_number_label
      }
      if (prev_label && help_prev_title_label) {
        prev_label.textContent = help_prev_title_label
      }
      if (prev_number && help_prev_number_label) {
        prev_number.textContent = help_prev_number_label
      }
      help_section_btnwrapper?.classList.add('dis-none')
    }
    if(FAQ?.classList.contains('dis-none') == false){
      let help_next_title = H_use?.querySelector('#help_section_title')
      let help_next_title_label = help_next_title?.textContent?.trim()
      let help_next_number = H_use?.querySelector('#help_section_number')
      let help_next_number_label = help_next_number?.textContent?.trim()
      let help_prev_title = H_chat?.querySelector('#help_section_title')
      let help_prev_title_label = help_prev_title?.textContent?.trim()
      let help_prev_number = H_chat?.querySelector('#help_section_number')
      let help_prev_number_label = help_prev_number?.textContent?.trim()
      if (next_label && help_next_title_label) {
        next_label.textContent = help_next_title_label
      }
      if (next_number && help_next_number_label) {
        next_number.textContent = help_next_number_label
      }
      if (prev_label && help_prev_title_label) {
        prev_label.textContent = help_prev_title_label
      }
      if (prev_number && help_prev_number_label) {
        prev_number.textContent = help_prev_number_label
      }
      help_section_btnwrapper?.classList.remove('dis-none')
    }
    if(H_course?.classList.contains('dis-none') == false){
      let help_next_title = H_service?.querySelector('#help_section_title')
      let help_next_title_label = help_next_title?.textContent?.trim()
      let help_next_number = H_service?.querySelector('#help_section_number')
      let help_next_number_label = help_next_number?.textContent?.trim()
      let help_prev_title = H_grades?.querySelector('#help_section_title')
      let help_prev_title_label = help_prev_title?.textContent?.trim()
      let help_prev_number = H_grades?.querySelector('#help_section_number')
      let help_prev_number_label = help_prev_number?.textContent?.trim()
      if (next_label && help_next_title_label) {
        next_label.textContent = help_next_title_label
      }
      if (next_number && help_next_number_label) {
        next_number.textContent = help_next_number_label
      }
      if (prev_label && help_prev_title_label) {
        prev_label.textContent = help_prev_title_label
      }
      if (prev_number && help_prev_number_label) {
        prev_number.textContent = help_prev_number_label
      }
      help_section_btnwrapper?.classList.remove('dis-none')
    }
    if(H_use?.classList.contains('dis-none') == false){
      let help_next_title = H_class?.querySelector('#help_section_title')
      let help_next_title_label = help_next_title?.textContent?.trim()
      let help_next_number = H_class?.querySelector('#help_section_number')
      let help_next_number_label = help_next_number?.textContent?.trim()
      let help_prev_title = FAQ?.querySelector('#help_section_title')
      let help_prev_title_label = help_prev_title?.textContent?.trim()
      let help_prev_number = FAQ?.querySelector('#help_section_number')
      let help_prev_number_label = help_prev_number?.textContent?.trim()
      if (next_label && help_next_title_label) {
        next_label.textContent = help_next_title_label
      }
      if (next_number && help_next_number_label) {
        next_number.textContent = help_next_number_label
      }
      if (prev_label && help_prev_title_label) {
        prev_label.textContent = help_prev_title_label
      }
      if (prev_number && help_prev_number_label) {
        prev_number.textContent = help_prev_number_label
      }
      help_section_btnwrapper?.classList.remove('dis-none')
    }
    if(H_class?.classList.contains('dis-none') == false){
      let help_next_title = H_grades?.querySelector('#help_section_title')
      let help_next_title_label = help_next_title?.textContent?.trim()
      let help_next_number = H_grades?.querySelector('#help_section_number')
      let help_next_number_label = help_next_number?.textContent?.trim()
      let help_prev_title = H_use?.querySelector('#help_section_title')
      let help_prev_title_label = help_prev_title?.textContent?.trim()
      let help_prev_number = H_use?.querySelector('#help_section_number')
      let help_prev_number_label = help_prev_number?.textContent?.trim()
      if (next_label && help_next_title_label) {
        next_label.textContent = help_next_title_label
      }
      if (next_number && help_next_number_label) {
        next_number.textContent = help_next_number_label
      }
      if (prev_label && help_prev_title_label) {
        prev_label.textContent = help_prev_title_label
      }
      if (prev_number && help_prev_number_label) {
        prev_number.textContent = help_prev_number_label
      }
      help_section_btnwrapper?.classList.remove('dis-none')
    }
    if(H_grades?.classList.contains('dis-none') == false){
      let help_next_title = H_course?.querySelector('#help_section_title')
      let help_next_title_label = help_next_title?.textContent?.trim()
      let help_next_number = H_course?.querySelector('#help_section_number')
      let help_next_number_label = help_next_number?.textContent?.trim()
      let help_prev_title = H_class?.querySelector('#help_section_title')
      let help_prev_title_label = help_prev_title?.textContent?.trim()
      let help_prev_number = H_class?.querySelector('#help_section_number')
      let help_prev_number_label = help_prev_number?.textContent?.trim()
      if (next_label && help_next_title_label) {
        next_label.textContent = help_next_title_label
      }
      if (next_number && help_next_number_label) {
        next_number.textContent = help_next_number_label
      }
      if (prev_label && help_prev_title_label) {
        prev_label.textContent = help_prev_title_label
      }
      if (prev_number && help_prev_number_label) {
        prev_number.textContent = help_prev_number_label
      }
      help_section_btnwrapper?.classList.remove('dis-none')
    }
    if(H_account?.classList.contains('dis-none') == false){
      let help_next_title = FAQ?.querySelector('#help_section_title')
      let help_next_title_label = help_next_title?.textContent?.trim()
      let help_next_number = FAQ?.querySelector('#help_section_number')
      let help_next_number_label = help_next_number?.textContent?.trim()
      let help_prev_title = H_service?.querySelector('#help_section_title')
      let help_prev_title_label = help_prev_title?.textContent?.trim()
      let help_prev_number = H_service?.querySelector('#help_section_number')
      let help_prev_number_label = help_prev_number?.textContent?.trim()
      if (next_label && help_next_title_label) {
        next_label.textContent = help_next_title_label
      }
      if (next_number && help_next_number_label) {
        next_number.textContent = help_next_number_label
      }
      if (prev_label && help_prev_title_label) {
        prev_label.textContent = help_prev_title_label
      }
      if (prev_number && help_prev_number_label) {
        prev_number.textContent = help_prev_number_label
      }
      help_section_btnwrapper?.classList.remove('dis-none')
    }
    if(H_service?.classList.contains('dis-none') == false){
      let help_next_title = H_account?.querySelector('#help_section_title')
      let help_next_title_label = help_next_title?.textContent?.trim()
      let help_next_number = H_account?.querySelector('#help_section_number')
      let help_next_number_label = help_next_number?.textContent?.trim()
      let help_prev_title = H_course?.querySelector('#help_section_title')
      let help_prev_title_label = help_prev_title?.textContent?.trim()
      let help_prev_number = H_course?.querySelector('#help_section_number')
      let help_prev_number_label = help_prev_number?.textContent?.trim()
      if (next_label && help_next_title_label) {
        next_label.textContent = help_next_title_label
      }
      if (next_number && help_next_number_label) {
        next_number.textContent = help_next_number_label
      }
      if (prev_label && help_prev_title_label) {
        prev_label.textContent = help_prev_title_label
      }
      if (prev_number && help_prev_number_label) {
        prev_number.textContent = help_prev_number_label
      }
      help_section_btnwrapper?.classList.remove('dis-none')
    }
  })

  const sp_nav_btn = document.getElementById('sp_nav_btn')
  const help_nav_btns = document.querySelectorAll('.help_nav_item')
  help_nav_btns.forEach((help_nav_btn_target) => {
    help_nav_btn_target.addEventListener('click', () => {
      help_nav_btns.forEach((help_nav_btn_all) => {
        if (window.innerWidth <= 768) {
          help_nav_btn_all.classList.add('dis-none')
        }
        console.log(help_nav_btn_all)
        help_nav_btn_all.classList.remove('active')
      })
      if (window.innerWidth <= 768) {
        help_nav_btn_target.classList.remove('dis-none')
      }
      help_nav_btn_target.classList.add('active')
    })

    if (window.innerWidth <= 768) {
      sp_nav_btn?.addEventListener('click', () => {
        help_nav_btns.forEach((help_nav_btn_all) => {
          if(help_nav_btn_all.classList.contains('dis-none')==false){
            if(help_nav_btn_all.classList.contains('active')){
              help_nav_btn_all.classList.remove('dis-none')
            } else {
              help_nav_btn_all.classList.add('dis-none')
            }
          } else {
            if(help_nav_btn_all.classList.contains('active')==false){
              help_nav_btn_all.classList.remove('dis-none')
            }
            help_nav_btn_all.classList.remove('dis-none')
          }
        })
      })
    }
  })

  // document.querySelectorAll('#question').forEach((question) => {
  //   console.log(question)
  //   const answer = question.querySelector('#answer')
  //   const elem2 = question.querySelector('#panel_icon_elem2')
  //   console.log(answer)
  //   question.addEventListener('click', () => {
  //     if (answer?.classList.contains('dis-none')) {
  //       answer.classList.remove('dis-none')
  //       answer.classList.add('dis-flex')
  //       elem2?.classList.add('dis-none')
  //     } else {
  //       answer?.classList.add('dis-none')
  //       answer?.classList.remove('dis-flex')
  //       elem2?.classList.remove('dis-none')
  //     }
  //   })
  // })
</script>
