---
import Welcome from '../../components/Welcome.astro';
import Layout from '../../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title='外部サービス'
  headerTitle='外部サービス'
>
  <div class="contents">
    <div class="box">
      <p class="box_label">クリックしたら各外部サイトへ移動します</p>
      <div class="service_cards">
        <a href="" class="service_card">
          <h3 class="service_name">manaba</h3>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75 7.5C8.55109 7.5 8.36032 7.57902 8.21967 7.71967C8.07902 7.86032 8 8.05109 8 8.25C8 8.44891 8.07902 8.63968 8.21967 8.78033C8.36032 8.92098 8.55109 9 8.75 9H11.75C11.9489 9 12.1397 8.92098 12.2803 8.78033C12.421 8.63968 12.5 8.44891 12.5 8.25C12.5 8.05109 12.421 7.86032 12.2803 7.71967C12.1397 7.57902 11.9489 7.5 11.75 7.5H8.75ZM8.75 10.5C8.55109 10.5 8.36032 10.579 8.21967 10.7197C8.07902 10.8603 8 11.0511 8 11.25C8 11.4489 8.07902 11.6397 8.21967 11.7803C8.36032 11.921 8.55109 12 8.75 12H16.25C16.4489 12 16.6397 11.921 16.7803 11.7803C16.921 11.6397 17 11.4489 17 11.25C17 11.0511 16.921 10.8603 16.7803 10.7197C16.6397 10.579 16.4489 10.5 16.25 10.5H8.75ZM8.75 13.5C8.55109 13.5 8.36032 13.579 8.21967 13.7197C8.07902 13.8603 8 14.0511 8 14.25C8 14.4489 8.07902 14.6397 8.21967 14.7803C8.36032 14.921 8.55109 15 8.75 15H16.25C16.4489 15 16.6397 14.921 16.7803 14.7803C16.921 14.6397 17 14.4489 17 14.25C17 14.0511 16.921 13.8603 16.7803 13.7197C16.6397 13.579 16.4489 13.5 16.25 13.5H8.75ZM8.75 16.5C8.55109 16.5 8.36032 16.579 8.21967 16.7197C8.07902 16.8603 8 17.0511 8 17.25C8 17.4489 8.07902 17.6397 8.21967 17.7803C8.36032 17.921 8.55109 18 8.75 18H16.25C16.4489 18 16.6397 17.921 16.7803 17.7803C16.921 17.6397 17 17.4489 17 17.25C17 17.0511 16.921 16.8603 16.7803 16.7197C16.6397 16.579 16.4489 16.5 16.25 16.5H8.75Z" fill="#252528"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 2.85 4.8425 1.5 6.5 1.5H14.75C14.9495 1.5 15.14 1.5795 15.281 1.719L21.281 7.719C21.3506 7.78878 21.4058 7.87159 21.4433 7.9627C21.4809 8.05382 21.5002 8.15144 21.5 8.25V19.5C21.5 21.15 20.1575 22.5 18.5 22.5H6.5C4.85 22.5 3.5 21.1575 3.5 19.5V4.5ZM6.5 3C6.10218 3 5.72064 3.15804 5.43934 3.43934C5.15804 3.72064 5 4.10218 5 4.5V19.5C5 19.8978 5.15804 20.2794 5.43934 20.5607C5.72064 20.842 6.10218 21 6.5 21H18.5C18.8978 21 19.2794 20.842 19.5607 20.5607C19.842 20.2794 20 19.8978 20 19.5V9H14.75C14.5511 9 14.3603 8.92098 14.2197 8.78033C14.079 8.63968 14 8.44891 14 8.25V3H6.5ZM15.5 4.0605L18.935 7.4955H15.5V4.0605Z" fill="#252528"/>
          </svg>            
          <p class="service_text">学生資料室の簡単な説明文</p>
        </a>
        <a href="" class="service_card">
          <h3 class="service_name">学生資料室</h3>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75 7.5C8.55109 7.5 8.36032 7.57902 8.21967 7.71967C8.07902 7.86032 8 8.05109 8 8.25C8 8.44891 8.07902 8.63968 8.21967 8.78033C8.36032 8.92098 8.55109 9 8.75 9H11.75C11.9489 9 12.1397 8.92098 12.2803 8.78033C12.421 8.63968 12.5 8.44891 12.5 8.25C12.5 8.05109 12.421 7.86032 12.2803 7.71967C12.1397 7.57902 11.9489 7.5 11.75 7.5H8.75ZM8.75 10.5C8.55109 10.5 8.36032 10.579 8.21967 10.7197C8.07902 10.8603 8 11.0511 8 11.25C8 11.4489 8.07902 11.6397 8.21967 11.7803C8.36032 11.921 8.55109 12 8.75 12H16.25C16.4489 12 16.6397 11.921 16.7803 11.7803C16.921 11.6397 17 11.4489 17 11.25C17 11.0511 16.921 10.8603 16.7803 10.7197C16.6397 10.579 16.4489 10.5 16.25 10.5H8.75ZM8.75 13.5C8.55109 13.5 8.36032 13.579 8.21967 13.7197C8.07902 13.8603 8 14.0511 8 14.25C8 14.4489 8.07902 14.6397 8.21967 14.7803C8.36032 14.921 8.55109 15 8.75 15H16.25C16.4489 15 16.6397 14.921 16.7803 14.7803C16.921 14.6397 17 14.4489 17 14.25C17 14.0511 16.921 13.8603 16.7803 13.7197C16.6397 13.579 16.4489 13.5 16.25 13.5H8.75ZM8.75 16.5C8.55109 16.5 8.36032 16.579 8.21967 16.7197C8.07902 16.8603 8 17.0511 8 17.25C8 17.4489 8.07902 17.6397 8.21967 17.7803C8.36032 17.921 8.55109 18 8.75 18H16.25C16.4489 18 16.6397 17.921 16.7803 17.7803C16.921 17.6397 17 17.4489 17 17.25C17 17.0511 16.921 16.8603 16.7803 16.7197C16.6397 16.579 16.4489 16.5 16.25 16.5H8.75Z" fill="#252528"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 2.85 4.8425 1.5 6.5 1.5H14.75C14.9495 1.5 15.14 1.5795 15.281 1.719L21.281 7.719C21.3506 7.78878 21.4058 7.87159 21.4433 7.9627C21.4809 8.05382 21.5002 8.15144 21.5 8.25V19.5C21.5 21.15 20.1575 22.5 18.5 22.5H6.5C4.85 22.5 3.5 21.1575 3.5 19.5V4.5ZM6.5 3C6.10218 3 5.72064 3.15804 5.43934 3.43934C5.15804 3.72064 5 4.10218 5 4.5V19.5C5 19.8978 5.15804 20.2794 5.43934 20.5607C5.72064 20.842 6.10218 21 6.5 21H18.5C18.8978 21 19.2794 20.842 19.5607 20.5607C19.842 20.2794 20 19.8978 20 19.5V9H14.75C14.5511 9 14.3603 8.92098 14.2197 8.78033C14.079 8.63968 14 8.44891 14 8.25V3H6.5ZM15.5 4.0605L18.935 7.4955H15.5V4.0605Z" fill="#252528"/>
          </svg>            
          <p class="service_text">学生資料室の簡単な説明文</p>
        </a>
        <a href="" class="service_card">
          <h3 class="service_name">学生相談室</h3>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75 7.5C8.55109 7.5 8.36032 7.57902 8.21967 7.71967C8.07902 7.86032 8 8.05109 8 8.25C8 8.44891 8.07902 8.63968 8.21967 8.78033C8.36032 8.92098 8.55109 9 8.75 9H11.75C11.9489 9 12.1397 8.92098 12.2803 8.78033C12.421 8.63968 12.5 8.44891 12.5 8.25C12.5 8.05109 12.421 7.86032 12.2803 7.71967C12.1397 7.57902 11.9489 7.5 11.75 7.5H8.75ZM8.75 10.5C8.55109 10.5 8.36032 10.579 8.21967 10.7197C8.07902 10.8603 8 11.0511 8 11.25C8 11.4489 8.07902 11.6397 8.21967 11.7803C8.36032 11.921 8.55109 12 8.75 12H16.25C16.4489 12 16.6397 11.921 16.7803 11.7803C16.921 11.6397 17 11.4489 17 11.25C17 11.0511 16.921 10.8603 16.7803 10.7197C16.6397 10.579 16.4489 10.5 16.25 10.5H8.75ZM8.75 13.5C8.55109 13.5 8.36032 13.579 8.21967 13.7197C8.07902 13.8603 8 14.0511 8 14.25C8 14.4489 8.07902 14.6397 8.21967 14.7803C8.36032 14.921 8.55109 15 8.75 15H16.25C16.4489 15 16.6397 14.921 16.7803 14.7803C16.921 14.6397 17 14.4489 17 14.25C17 14.0511 16.921 13.8603 16.7803 13.7197C16.6397 13.579 16.4489 13.5 16.25 13.5H8.75ZM8.75 16.5C8.55109 16.5 8.36032 16.579 8.21967 16.7197C8.07902 16.8603 8 17.0511 8 17.25C8 17.4489 8.07902 17.6397 8.21967 17.7803C8.36032 17.921 8.55109 18 8.75 18H16.25C16.4489 18 16.6397 17.921 16.7803 17.7803C16.921 17.6397 17 17.4489 17 17.25C17 17.0511 16.921 16.8603 16.7803 16.7197C16.6397 16.579 16.4489 16.5 16.25 16.5H8.75Z" fill="#252528"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 2.85 4.8425 1.5 6.5 1.5H14.75C14.9495 1.5 15.14 1.5795 15.281 1.719L21.281 7.719C21.3506 7.78878 21.4058 7.87159 21.4433 7.9627C21.4809 8.05382 21.5002 8.15144 21.5 8.25V19.5C21.5 21.15 20.1575 22.5 18.5 22.5H6.5C4.85 22.5 3.5 21.1575 3.5 19.5V4.5ZM6.5 3C6.10218 3 5.72064 3.15804 5.43934 3.43934C5.15804 3.72064 5 4.10218 5 4.5V19.5C5 19.8978 5.15804 20.2794 5.43934 20.5607C5.72064 20.842 6.10218 21 6.5 21H18.5C18.8978 21 19.2794 20.842 19.5607 20.5607C19.842 20.2794 20 19.8978 20 19.5V9H14.75C14.5511 9 14.3603 8.92098 14.2197 8.78033C14.079 8.63968 14 8.44891 14 8.25V3H6.5ZM15.5 4.0605L18.935 7.4955H15.5V4.0605Z" fill="#252528"/>
          </svg>            
          <p class="service_text">学生資料室の簡単な説明文</p>
        </a>
        <a href="" class="service_card">
          <h3 class="service_name">証明書発行サービス</h3>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75 7.5C8.55109 7.5 8.36032 7.57902 8.21967 7.71967C8.07902 7.86032 8 8.05109 8 8.25C8 8.44891 8.07902 8.63968 8.21967 8.78033C8.36032 8.92098 8.55109 9 8.75 9H11.75C11.9489 9 12.1397 8.92098 12.2803 8.78033C12.421 8.63968 12.5 8.44891 12.5 8.25C12.5 8.05109 12.421 7.86032 12.2803 7.71967C12.1397 7.57902 11.9489 7.5 11.75 7.5H8.75ZM8.75 10.5C8.55109 10.5 8.36032 10.579 8.21967 10.7197C8.07902 10.8603 8 11.0511 8 11.25C8 11.4489 8.07902 11.6397 8.21967 11.7803C8.36032 11.921 8.55109 12 8.75 12H16.25C16.4489 12 16.6397 11.921 16.7803 11.7803C16.921 11.6397 17 11.4489 17 11.25C17 11.0511 16.921 10.8603 16.7803 10.7197C16.6397 10.579 16.4489 10.5 16.25 10.5H8.75ZM8.75 13.5C8.55109 13.5 8.36032 13.579 8.21967 13.7197C8.07902 13.8603 8 14.0511 8 14.25C8 14.4489 8.07902 14.6397 8.21967 14.7803C8.36032 14.921 8.55109 15 8.75 15H16.25C16.4489 15 16.6397 14.921 16.7803 14.7803C16.921 14.6397 17 14.4489 17 14.25C17 14.0511 16.921 13.8603 16.7803 13.7197C16.6397 13.579 16.4489 13.5 16.25 13.5H8.75ZM8.75 16.5C8.55109 16.5 8.36032 16.579 8.21967 16.7197C8.07902 16.8603 8 17.0511 8 17.25C8 17.4489 8.07902 17.6397 8.21967 17.7803C8.36032 17.921 8.55109 18 8.75 18H16.25C16.4489 18 16.6397 17.921 16.7803 17.7803C16.921 17.6397 17 17.4489 17 17.25C17 17.0511 16.921 16.8603 16.7803 16.7197C16.6397 16.579 16.4489 16.5 16.25 16.5H8.75Z" fill="#252528"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 2.85 4.8425 1.5 6.5 1.5H14.75C14.9495 1.5 15.14 1.5795 15.281 1.719L21.281 7.719C21.3506 7.78878 21.4058 7.87159 21.4433 7.9627C21.4809 8.05382 21.5002 8.15144 21.5 8.25V19.5C21.5 21.15 20.1575 22.5 18.5 22.5H6.5C4.85 22.5 3.5 21.1575 3.5 19.5V4.5ZM6.5 3C6.10218 3 5.72064 3.15804 5.43934 3.43934C5.15804 3.72064 5 4.10218 5 4.5V19.5C5 19.8978 5.15804 20.2794 5.43934 20.5607C5.72064 20.842 6.10218 21 6.5 21H18.5C18.8978 21 19.2794 20.842 19.5607 20.5607C19.842 20.2794 20 19.8978 20 19.5V9H14.75C14.5511 9 14.3603 8.92098 14.2197 8.78033C14.079 8.63968 14 8.44891 14 8.25V3H6.5ZM15.5 4.0605L18.935 7.4955H15.5V4.0605Z" fill="#252528"/>
          </svg>            
          <p class="service_text">学生資料室の簡単な説明文</p>
        </a>
        <a href="" class="service_card">
          <h3 class="service_name">給与明細閲覧システム</h3>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75 7.5C8.55109 7.5 8.36032 7.57902 8.21967 7.71967C8.07902 7.86032 8 8.05109 8 8.25C8 8.44891 8.07902 8.63968 8.21967 8.78033C8.36032 8.92098 8.55109 9 8.75 9H11.75C11.9489 9 12.1397 8.92098 12.2803 8.78033C12.421 8.63968 12.5 8.44891 12.5 8.25C12.5 8.05109 12.421 7.86032 12.2803 7.71967C12.1397 7.57902 11.9489 7.5 11.75 7.5H8.75ZM8.75 10.5C8.55109 10.5 8.36032 10.579 8.21967 10.7197C8.07902 10.8603 8 11.0511 8 11.25C8 11.4489 8.07902 11.6397 8.21967 11.7803C8.36032 11.921 8.55109 12 8.75 12H16.25C16.4489 12 16.6397 11.921 16.7803 11.7803C16.921 11.6397 17 11.4489 17 11.25C17 11.0511 16.921 10.8603 16.7803 10.7197C16.6397 10.579 16.4489 10.5 16.25 10.5H8.75ZM8.75 13.5C8.55109 13.5 8.36032 13.579 8.21967 13.7197C8.07902 13.8603 8 14.0511 8 14.25C8 14.4489 8.07902 14.6397 8.21967 14.7803C8.36032 14.921 8.55109 15 8.75 15H16.25C16.4489 15 16.6397 14.921 16.7803 14.7803C16.921 14.6397 17 14.4489 17 14.25C17 14.0511 16.921 13.8603 16.7803 13.7197C16.6397 13.579 16.4489 13.5 16.25 13.5H8.75ZM8.75 16.5C8.55109 16.5 8.36032 16.579 8.21967 16.7197C8.07902 16.8603 8 17.0511 8 17.25C8 17.4489 8.07902 17.6397 8.21967 17.7803C8.36032 17.921 8.55109 18 8.75 18H16.25C16.4489 18 16.6397 17.921 16.7803 17.7803C16.921 17.6397 17 17.4489 17 17.25C17 17.0511 16.921 16.8603 16.7803 16.7197C16.6397 16.579 16.4489 16.5 16.25 16.5H8.75Z" fill="#252528"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 2.85 4.8425 1.5 6.5 1.5H14.75C14.9495 1.5 15.14 1.5795 15.281 1.719L21.281 7.719C21.3506 7.78878 21.4058 7.87159 21.4433 7.9627C21.4809 8.05382 21.5002 8.15144 21.5 8.25V19.5C21.5 21.15 20.1575 22.5 18.5 22.5H6.5C4.85 22.5 3.5 21.1575 3.5 19.5V4.5ZM6.5 3C6.10218 3 5.72064 3.15804 5.43934 3.43934C5.15804 3.72064 5 4.10218 5 4.5V19.5C5 19.8978 5.15804 20.2794 5.43934 20.5607C5.72064 20.842 6.10218 21 6.5 21H18.5C18.8978 21 19.2794 20.842 19.5607 20.5607C19.842 20.2794 20 19.8978 20 19.5V9H14.75C14.5511 9 14.3603 8.92098 14.2197 8.78033C14.079 8.63968 14 8.44891 14 8.25V3H6.5ZM15.5 4.0605L18.935 7.4955H15.5V4.0605Z" fill="#252528"/>
          </svg>            
          <p class="service_text">学生資料室の簡単な説明文</p>
        </a>
        <a href="" class="service_card">
          <h3 class="service_name">ネットワーク利用</h3>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75 7.5C8.55109 7.5 8.36032 7.57902 8.21967 7.71967C8.07902 7.86032 8 8.05109 8 8.25C8 8.44891 8.07902 8.63968 8.21967 8.78033C8.36032 8.92098 8.55109 9 8.75 9H11.75C11.9489 9 12.1397 8.92098 12.2803 8.78033C12.421 8.63968 12.5 8.44891 12.5 8.25C12.5 8.05109 12.421 7.86032 12.2803 7.71967C12.1397 7.57902 11.9489 7.5 11.75 7.5H8.75ZM8.75 10.5C8.55109 10.5 8.36032 10.579 8.21967 10.7197C8.07902 10.8603 8 11.0511 8 11.25C8 11.4489 8.07902 11.6397 8.21967 11.7803C8.36032 11.921 8.55109 12 8.75 12H16.25C16.4489 12 16.6397 11.921 16.7803 11.7803C16.921 11.6397 17 11.4489 17 11.25C17 11.0511 16.921 10.8603 16.7803 10.7197C16.6397 10.579 16.4489 10.5 16.25 10.5H8.75ZM8.75 13.5C8.55109 13.5 8.36032 13.579 8.21967 13.7197C8.07902 13.8603 8 14.0511 8 14.25C8 14.4489 8.07902 14.6397 8.21967 14.7803C8.36032 14.921 8.55109 15 8.75 15H16.25C16.4489 15 16.6397 14.921 16.7803 14.7803C16.921 14.6397 17 14.4489 17 14.25C17 14.0511 16.921 13.8603 16.7803 13.7197C16.6397 13.579 16.4489 13.5 16.25 13.5H8.75ZM8.75 16.5C8.55109 16.5 8.36032 16.579 8.21967 16.7197C8.07902 16.8603 8 17.0511 8 17.25C8 17.4489 8.07902 17.6397 8.21967 17.7803C8.36032 17.921 8.55109 18 8.75 18H16.25C16.4489 18 16.6397 17.921 16.7803 17.7803C16.921 17.6397 17 17.4489 17 17.25C17 17.0511 16.921 16.8603 16.7803 16.7197C16.6397 16.579 16.4489 16.5 16.25 16.5H8.75Z" fill="#252528"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 2.85 4.8425 1.5 6.5 1.5H14.75C14.9495 1.5 15.14 1.5795 15.281 1.719L21.281 7.719C21.3506 7.78878 21.4058 7.87159 21.4433 7.9627C21.4809 8.05382 21.5002 8.15144 21.5 8.25V19.5C21.5 21.15 20.1575 22.5 18.5 22.5H6.5C4.85 22.5 3.5 21.1575 3.5 19.5V4.5ZM6.5 3C6.10218 3 5.72064 3.15804 5.43934 3.43934C5.15804 3.72064 5 4.10218 5 4.5V19.5C5 19.8978 5.15804 20.2794 5.43934 20.5607C5.72064 20.842 6.10218 21 6.5 21H18.5C18.8978 21 19.2794 20.842 19.5607 20.5607C19.842 20.2794 20 19.8978 20 19.5V9H14.75C14.5511 9 14.3603 8.92098 14.2197 8.78033C14.079 8.63968 14 8.44891 14 8.25V3H6.5ZM15.5 4.0605L18.935 7.4955H15.5V4.0605Z" fill="#252528"/>
          </svg>            
          <p class="service_text">学生資料室の簡単な説明文</p>
        </a>
        <a href="" class="service_card">
          <h3 class="service_name">webプリントPaperCut</h3>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75 7.5C8.55109 7.5 8.36032 7.57902 8.21967 7.71967C8.07902 7.86032 8 8.05109 8 8.25C8 8.44891 8.07902 8.63968 8.21967 8.78033C8.36032 8.92098 8.55109 9 8.75 9H11.75C11.9489 9 12.1397 8.92098 12.2803 8.78033C12.421 8.63968 12.5 8.44891 12.5 8.25C12.5 8.05109 12.421 7.86032 12.2803 7.71967C12.1397 7.57902 11.9489 7.5 11.75 7.5H8.75ZM8.75 10.5C8.55109 10.5 8.36032 10.579 8.21967 10.7197C8.07902 10.8603 8 11.0511 8 11.25C8 11.4489 8.07902 11.6397 8.21967 11.7803C8.36032 11.921 8.55109 12 8.75 12H16.25C16.4489 12 16.6397 11.921 16.7803 11.7803C16.921 11.6397 17 11.4489 17 11.25C17 11.0511 16.921 10.8603 16.7803 10.7197C16.6397 10.579 16.4489 10.5 16.25 10.5H8.75ZM8.75 13.5C8.55109 13.5 8.36032 13.579 8.21967 13.7197C8.07902 13.8603 8 14.0511 8 14.25C8 14.4489 8.07902 14.6397 8.21967 14.7803C8.36032 14.921 8.55109 15 8.75 15H16.25C16.4489 15 16.6397 14.921 16.7803 14.7803C16.921 14.6397 17 14.4489 17 14.25C17 14.0511 16.921 13.8603 16.7803 13.7197C16.6397 13.579 16.4489 13.5 16.25 13.5H8.75ZM8.75 16.5C8.55109 16.5 8.36032 16.579 8.21967 16.7197C8.07902 16.8603 8 17.0511 8 17.25C8 17.4489 8.07902 17.6397 8.21967 17.7803C8.36032 17.921 8.55109 18 8.75 18H16.25C16.4489 18 16.6397 17.921 16.7803 17.7803C16.921 17.6397 17 17.4489 17 17.25C17 17.0511 16.921 16.8603 16.7803 16.7197C16.6397 16.579 16.4489 16.5 16.25 16.5H8.75Z" fill="#252528"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 2.85 4.8425 1.5 6.5 1.5H14.75C14.9495 1.5 15.14 1.5795 15.281 1.719L21.281 7.719C21.3506 7.78878 21.4058 7.87159 21.4433 7.9627C21.4809 8.05382 21.5002 8.15144 21.5 8.25V19.5C21.5 21.15 20.1575 22.5 18.5 22.5H6.5C4.85 22.5 3.5 21.1575 3.5 19.5V4.5ZM6.5 3C6.10218 3 5.72064 3.15804 5.43934 3.43934C5.15804 3.72064 5 4.10218 5 4.5V19.5C5 19.8978 5.15804 20.2794 5.43934 20.5607C5.72064 20.842 6.10218 21 6.5 21H18.5C18.8978 21 19.2794 20.842 19.5607 20.5607C19.842 20.2794 20 19.8978 20 19.5V9H14.75C14.5511 9 14.3603 8.92098 14.2197 8.78033C14.079 8.63968 14 8.44891 14 8.25V3H6.5ZM15.5 4.0605L18.935 7.4955H15.5V4.0605Z" fill="#252528"/>
          </svg>            
          <p class="service_text">学生資料室の簡単な説明文</p>
        </a>
        <a href="" class="service_card">
          <h3 class="service_name">同窓会会員サイト</h3>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75 7.5C8.55109 7.5 8.36032 7.57902 8.21967 7.71967C8.07902 7.86032 8 8.05109 8 8.25C8 8.44891 8.07902 8.63968 8.21967 8.78033C8.36032 8.92098 8.55109 9 8.75 9H11.75C11.9489 9 12.1397 8.92098 12.2803 8.78033C12.421 8.63968 12.5 8.44891 12.5 8.25C12.5 8.05109 12.421 7.86032 12.2803 7.71967C12.1397 7.57902 11.9489 7.5 11.75 7.5H8.75ZM8.75 10.5C8.55109 10.5 8.36032 10.579 8.21967 10.7197C8.07902 10.8603 8 11.0511 8 11.25C8 11.4489 8.07902 11.6397 8.21967 11.7803C8.36032 11.921 8.55109 12 8.75 12H16.25C16.4489 12 16.6397 11.921 16.7803 11.7803C16.921 11.6397 17 11.4489 17 11.25C17 11.0511 16.921 10.8603 16.7803 10.7197C16.6397 10.579 16.4489 10.5 16.25 10.5H8.75ZM8.75 13.5C8.55109 13.5 8.36032 13.579 8.21967 13.7197C8.07902 13.8603 8 14.0511 8 14.25C8 14.4489 8.07902 14.6397 8.21967 14.7803C8.36032 14.921 8.55109 15 8.75 15H16.25C16.4489 15 16.6397 14.921 16.7803 14.7803C16.921 14.6397 17 14.4489 17 14.25C17 14.0511 16.921 13.8603 16.7803 13.7197C16.6397 13.579 16.4489 13.5 16.25 13.5H8.75ZM8.75 16.5C8.55109 16.5 8.36032 16.579 8.21967 16.7197C8.07902 16.8603 8 17.0511 8 17.25C8 17.4489 8.07902 17.6397 8.21967 17.7803C8.36032 17.921 8.55109 18 8.75 18H16.25C16.4489 18 16.6397 17.921 16.7803 17.7803C16.921 17.6397 17 17.4489 17 17.25C17 17.0511 16.921 16.8603 16.7803 16.7197C16.6397 16.579 16.4489 16.5 16.25 16.5H8.75Z" fill="#252528"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 2.85 4.8425 1.5 6.5 1.5H14.75C14.9495 1.5 15.14 1.5795 15.281 1.719L21.281 7.719C21.3506 7.78878 21.4058 7.87159 21.4433 7.9627C21.4809 8.05382 21.5002 8.15144 21.5 8.25V19.5C21.5 21.15 20.1575 22.5 18.5 22.5H6.5C4.85 22.5 3.5 21.1575 3.5 19.5V4.5ZM6.5 3C6.10218 3 5.72064 3.15804 5.43934 3.43934C5.15804 3.72064 5 4.10218 5 4.5V19.5C5 19.8978 5.15804 20.2794 5.43934 20.5607C5.72064 20.842 6.10218 21 6.5 21H18.5C18.8978 21 19.2794 20.842 19.5607 20.5607C19.842 20.2794 20 19.8978 20 19.5V9H14.75C14.5511 9 14.3603 8.92098 14.2197 8.78033C14.079 8.63968 14 8.44891 14 8.25V3H6.5ZM15.5 4.0605L18.935 7.4955H15.5V4.0605Z" fill="#252528"/>
          </svg>            
          <p class="service_text">学生資料室の簡単な説明文</p>
        </a>
        <a href="" class="service_card">
          <h3 class="service_name">CITサービスHP</h3>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75 7.5C8.55109 7.5 8.36032 7.57902 8.21967 7.71967C8.07902 7.86032 8 8.05109 8 8.25C8 8.44891 8.07902 8.63968 8.21967 8.78033C8.36032 8.92098 8.55109 9 8.75 9H11.75C11.9489 9 12.1397 8.92098 12.2803 8.78033C12.421 8.63968 12.5 8.44891 12.5 8.25C12.5 8.05109 12.421 7.86032 12.2803 7.71967C12.1397 7.57902 11.9489 7.5 11.75 7.5H8.75ZM8.75 10.5C8.55109 10.5 8.36032 10.579 8.21967 10.7197C8.07902 10.8603 8 11.0511 8 11.25C8 11.4489 8.07902 11.6397 8.21967 11.7803C8.36032 11.921 8.55109 12 8.75 12H16.25C16.4489 12 16.6397 11.921 16.7803 11.7803C16.921 11.6397 17 11.4489 17 11.25C17 11.0511 16.921 10.8603 16.7803 10.7197C16.6397 10.579 16.4489 10.5 16.25 10.5H8.75ZM8.75 13.5C8.55109 13.5 8.36032 13.579 8.21967 13.7197C8.07902 13.8603 8 14.0511 8 14.25C8 14.4489 8.07902 14.6397 8.21967 14.7803C8.36032 14.921 8.55109 15 8.75 15H16.25C16.4489 15 16.6397 14.921 16.7803 14.7803C16.921 14.6397 17 14.4489 17 14.25C17 14.0511 16.921 13.8603 16.7803 13.7197C16.6397 13.579 16.4489 13.5 16.25 13.5H8.75ZM8.75 16.5C8.55109 16.5 8.36032 16.579 8.21967 16.7197C8.07902 16.8603 8 17.0511 8 17.25C8 17.4489 8.07902 17.6397 8.21967 17.7803C8.36032 17.921 8.55109 18 8.75 18H16.25C16.4489 18 16.6397 17.921 16.7803 17.7803C16.921 17.6397 17 17.4489 17 17.25C17 17.0511 16.921 16.8603 16.7803 16.7197C16.6397 16.579 16.4489 16.5 16.25 16.5H8.75Z" fill="#252528"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 2.85 4.8425 1.5 6.5 1.5H14.75C14.9495 1.5 15.14 1.5795 15.281 1.719L21.281 7.719C21.3506 7.78878 21.4058 7.87159 21.4433 7.9627C21.4809 8.05382 21.5002 8.15144 21.5 8.25V19.5C21.5 21.15 20.1575 22.5 18.5 22.5H6.5C4.85 22.5 3.5 21.1575 3.5 19.5V4.5ZM6.5 3C6.10218 3 5.72064 3.15804 5.43934 3.43934C5.15804 3.72064 5 4.10218 5 4.5V19.5C5 19.8978 5.15804 20.2794 5.43934 20.5607C5.72064 20.842 6.10218 21 6.5 21H18.5C18.8978 21 19.2794 20.842 19.5607 20.5607C19.842 20.2794 20 19.8978 20 19.5V9H14.75C14.5511 9 14.3603 8.92098 14.2197 8.78033C14.079 8.63968 14 8.44891 14 8.25V3H6.5ZM15.5 4.0605L18.935 7.4955H15.5V4.0605Z" fill="#252528"/>
          </svg>            
          <p class="service_text">学生資料室の簡単な説明文</p>
        </a>
        <a href="" class="service_card">
          <h3 class="service_name">manaba</h3>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75 7.5C8.55109 7.5 8.36032 7.57902 8.21967 7.71967C8.07902 7.86032 8 8.05109 8 8.25C8 8.44891 8.07902 8.63968 8.21967 8.78033C8.36032 8.92098 8.55109 9 8.75 9H11.75C11.9489 9 12.1397 8.92098 12.2803 8.78033C12.421 8.63968 12.5 8.44891 12.5 8.25C12.5 8.05109 12.421 7.86032 12.2803 7.71967C12.1397 7.57902 11.9489 7.5 11.75 7.5H8.75ZM8.75 10.5C8.55109 10.5 8.36032 10.579 8.21967 10.7197C8.07902 10.8603 8 11.0511 8 11.25C8 11.4489 8.07902 11.6397 8.21967 11.7803C8.36032 11.921 8.55109 12 8.75 12H16.25C16.4489 12 16.6397 11.921 16.7803 11.7803C16.921 11.6397 17 11.4489 17 11.25C17 11.0511 16.921 10.8603 16.7803 10.7197C16.6397 10.579 16.4489 10.5 16.25 10.5H8.75ZM8.75 13.5C8.55109 13.5 8.36032 13.579 8.21967 13.7197C8.07902 13.8603 8 14.0511 8 14.25C8 14.4489 8.07902 14.6397 8.21967 14.7803C8.36032 14.921 8.55109 15 8.75 15H16.25C16.4489 15 16.6397 14.921 16.7803 14.7803C16.921 14.6397 17 14.4489 17 14.25C17 14.0511 16.921 13.8603 16.7803 13.7197C16.6397 13.579 16.4489 13.5 16.25 13.5H8.75ZM8.75 16.5C8.55109 16.5 8.36032 16.579 8.21967 16.7197C8.07902 16.8603 8 17.0511 8 17.25C8 17.4489 8.07902 17.6397 8.21967 17.7803C8.36032 17.921 8.55109 18 8.75 18H16.25C16.4489 18 16.6397 17.921 16.7803 17.7803C16.921 17.6397 17 17.4489 17 17.25C17 17.0511 16.921 16.8603 16.7803 16.7197C16.6397 16.579 16.4489 16.5 16.25 16.5H8.75Z" fill="#252528"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 2.85 4.8425 1.5 6.5 1.5H14.75C14.9495 1.5 15.14 1.5795 15.281 1.719L21.281 7.719C21.3506 7.78878 21.4058 7.87159 21.4433 7.9627C21.4809 8.05382 21.5002 8.15144 21.5 8.25V19.5C21.5 21.15 20.1575 22.5 18.5 22.5H6.5C4.85 22.5 3.5 21.1575 3.5 19.5V4.5ZM6.5 3C6.10218 3 5.72064 3.15804 5.43934 3.43934C5.15804 3.72064 5 4.10218 5 4.5V19.5C5 19.8978 5.15804 20.2794 5.43934 20.5607C5.72064 20.842 6.10218 21 6.5 21H18.5C18.8978 21 19.2794 20.842 19.5607 20.5607C19.842 20.2794 20 19.8978 20 19.5V9H14.75C14.5511 9 14.3603 8.92098 14.2197 8.78033C14.079 8.63968 14 8.44891 14 8.25V3H6.5ZM15.5 4.0605L18.935 7.4955H15.5V4.0605Z" fill="#252528"/>
          </svg>            
          <p class="service_text">学生資料室の簡単な説明文</p>
        </a>
        <a href="" class="service_card">
          <h3 class="service_name">マリンパスワード変更</h3>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75 7.5C8.55109 7.5 8.36032 7.57902 8.21967 7.71967C8.07902 7.86032 8 8.05109 8 8.25C8 8.44891 8.07902 8.63968 8.21967 8.78033C8.36032 8.92098 8.55109 9 8.75 9H11.75C11.9489 9 12.1397 8.92098 12.2803 8.78033C12.421 8.63968 12.5 8.44891 12.5 8.25C12.5 8.05109 12.421 7.86032 12.2803 7.71967C12.1397 7.57902 11.9489 7.5 11.75 7.5H8.75ZM8.75 10.5C8.55109 10.5 8.36032 10.579 8.21967 10.7197C8.07902 10.8603 8 11.0511 8 11.25C8 11.4489 8.07902 11.6397 8.21967 11.7803C8.36032 11.921 8.55109 12 8.75 12H16.25C16.4489 12 16.6397 11.921 16.7803 11.7803C16.921 11.6397 17 11.4489 17 11.25C17 11.0511 16.921 10.8603 16.7803 10.7197C16.6397 10.579 16.4489 10.5 16.25 10.5H8.75ZM8.75 13.5C8.55109 13.5 8.36032 13.579 8.21967 13.7197C8.07902 13.8603 8 14.0511 8 14.25C8 14.4489 8.07902 14.6397 8.21967 14.7803C8.36032 14.921 8.55109 15 8.75 15H16.25C16.4489 15 16.6397 14.921 16.7803 14.7803C16.921 14.6397 17 14.4489 17 14.25C17 14.0511 16.921 13.8603 16.7803 13.7197C16.6397 13.579 16.4489 13.5 16.25 13.5H8.75ZM8.75 16.5C8.55109 16.5 8.36032 16.579 8.21967 16.7197C8.07902 16.8603 8 17.0511 8 17.25C8 17.4489 8.07902 17.6397 8.21967 17.7803C8.36032 17.921 8.55109 18 8.75 18H16.25C16.4489 18 16.6397 17.921 16.7803 17.7803C16.921 17.6397 17 17.4489 17 17.25C17 17.0511 16.921 16.8603 16.7803 16.7197C16.6397 16.579 16.4489 16.5 16.25 16.5H8.75Z" fill="#252528"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 2.85 4.8425 1.5 6.5 1.5H14.75C14.9495 1.5 15.14 1.5795 15.281 1.719L21.281 7.719C21.3506 7.78878 21.4058 7.87159 21.4433 7.9627C21.4809 8.05382 21.5002 8.15144 21.5 8.25V19.5C21.5 21.15 20.1575 22.5 18.5 22.5H6.5C4.85 22.5 3.5 21.1575 3.5 19.5V4.5ZM6.5 3C6.10218 3 5.72064 3.15804 5.43934 3.43934C5.15804 3.72064 5 4.10218 5 4.5V19.5C5 19.8978 5.15804 20.2794 5.43934 20.5607C5.72064 20.842 6.10218 21 6.5 21H18.5C18.8978 21 19.2794 20.842 19.5607 20.5607C19.842 20.2794 20 19.8978 20 19.5V9H14.75C14.5511 9 14.3603 8.92098 14.2197 8.78033C14.079 8.63968 14 8.44891 14 8.25V3H6.5ZM15.5 4.0605L18.935 7.4955H15.5V4.0605Z" fill="#252528"/>
          </svg>            
          <p class="service_text">学生資料室の簡単な説明文</p>
        </a>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .contents{
    padding-bottom: 80px;
    min-height: 100dvh;
    @media (width >= 1920px) {
			padding-inline: 16px;
		}
    @media (width >= 1920px) {
			padding-inline: 16px;
		}
  }

  .box{
    margin-top: 40px;

    @media (width < 768px) {
			margin-top: 24px;
		}

    &_label{
      font-size: 14px;
      font-weight: 400;
      color: #252528;
    }
  }

  .service_cards{
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }

  .service_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 0px 24px rgba($color: #252528, $alpha: 0.15);

    >svg{
      margin-top: 16px;
    }

    .service_text{
      margin-top: 16px;
      font-size: 12px;
      font-weight: 400;
      color: #66666d;
    }
  }

  .service_name{
    font-size: 14px;
    font-weight: 500;
    color: #252528;
  }

</style>
