---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title='マイページ'
  headerTitle='マイページ'
>
  <div class="contents">
    <div class="inner">
      <nav class="nav">
        <ul class="nav_list">
          <li class="nav_item active">
            <button class="nav_btn">
              <p class="nav_btn_label">学籍情報</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
          <li class="nav_item">
            <button class="nav_btn">
              <p class="nav_btn_label">学習データ</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
          <li class="nav_item">
            <button class="nav_btn">
              <p class="nav_btn_label">試験・資格</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
          <li class="nav_item">
            <button class="nav_btn">
              <p class="nav_btn_label">健康診断結果</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
          <li class="nav_item">
            <button class="nav_btn">
              <p class="nav_btn_label">安否確認</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
          <li class="nav_item">
            <button class="nav_btn">
              <p class="nav_btn_label">テーマ</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
        </ul>
      </nav>
      <section class="box">
        <h3 class="box_title">学籍情報</h3>
        <p class="box_label">ここのテキストでは学籍情報についての説明文を入れる予定です。</p>
        <ul class="box_list">
          <li class="box_item">
            <div class="box_item_wrapper">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99994 12.5C7.92113 12.4999 7.84345 12.4812 7.77324 12.4454C7.70304 12.4096 7.64228 12.3577 7.59594 12.294L3.59594 6.794C3.54174 6.71943 3.5092 6.63134 3.50193 6.53944C3.49466 6.44754 3.51294 6.35542 3.55474 6.27326C3.59655 6.19109 3.66025 6.12209 3.73882 6.07387C3.81739 6.02564 3.90776 6.00008 3.99994 6H11.9999C12.0921 6.00008 12.1825 6.02564 12.2611 6.07387C12.3396 6.12209 12.4033 6.19109 12.4451 6.27326C12.4869 6.35542 12.5052 6.44754 12.498 6.53944C12.4907 6.63134 12.4581 6.71943 12.4039 6.794L8.40394 12.294C8.3576 12.3577 8.29685 12.4096 8.22664 12.4454C8.15643 12.4812 8.07875 12.4999 7.99994 12.5Z" fill="#66666D"/>
              </svg>          
              <h4 class="box_item_name">基本情報</h4>
            </div>
            <ul class="box_item_list">
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="box_item">
            <div class="box_item_wrapper">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99994 12.5C7.92113 12.4999 7.84345 12.4812 7.77324 12.4454C7.70304 12.4096 7.64228 12.3577 7.59594 12.294L3.59594 6.794C3.54174 6.71943 3.5092 6.63134 3.50193 6.53944C3.49466 6.44754 3.51294 6.35542 3.55474 6.27326C3.59655 6.19109 3.66025 6.12209 3.73882 6.07387C3.81739 6.02564 3.90776 6.00008 3.99994 6H11.9999C12.0921 6.00008 12.1825 6.02564 12.2611 6.07387C12.3396 6.12209 12.4033 6.19109 12.4451 6.27326C12.4869 6.35542 12.5052 6.44754 12.498 6.53944C12.4907 6.63134 12.4581 6.71943 12.4039 6.794L8.40394 12.294C8.3576 12.3577 8.29685 12.4096 8.22664 12.4454C8.15643 12.4812 8.07875 12.4999 7.99994 12.5Z" fill="#66666D"/>
              </svg>          
              <h4 class="box_item_name">基本情報</h4>
            </div>
            <ul class="box_item_list">
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="box_item">
            <div class="box_item_wrapper">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99994 12.5C7.92113 12.4999 7.84345 12.4812 7.77324 12.4454C7.70304 12.4096 7.64228 12.3577 7.59594 12.294L3.59594 6.794C3.54174 6.71943 3.5092 6.63134 3.50193 6.53944C3.49466 6.44754 3.51294 6.35542 3.55474 6.27326C3.59655 6.19109 3.66025 6.12209 3.73882 6.07387C3.81739 6.02564 3.90776 6.00008 3.99994 6H11.9999C12.0921 6.00008 12.1825 6.02564 12.2611 6.07387C12.3396 6.12209 12.4033 6.19109 12.4451 6.27326C12.4869 6.35542 12.5052 6.44754 12.498 6.53944C12.4907 6.63134 12.4581 6.71943 12.4039 6.794L8.40394 12.294C8.3576 12.3577 8.29685 12.4096 8.22664 12.4454C8.15643 12.4812 8.07875 12.4999 7.99994 12.5Z" fill="#66666D"/>
              </svg>          
              <h4 class="box_item_name">基本情報</h4>
            </div>
            <ul class="box_item_list">
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="box_item">
            <div class="box_item_wrapper">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99994 12.5C7.92113 12.4999 7.84345 12.4812 7.77324 12.4454C7.70304 12.4096 7.64228 12.3577 7.59594 12.294L3.59594 6.794C3.54174 6.71943 3.5092 6.63134 3.50193 6.53944C3.49466 6.44754 3.51294 6.35542 3.55474 6.27326C3.59655 6.19109 3.66025 6.12209 3.73882 6.07387C3.81739 6.02564 3.90776 6.00008 3.99994 6H11.9999C12.0921 6.00008 12.1825 6.02564 12.2611 6.07387C12.3396 6.12209 12.4033 6.19109 12.4451 6.27326C12.4869 6.35542 12.5052 6.44754 12.498 6.53944C12.4907 6.63134 12.4581 6.71943 12.4039 6.794L8.40394 12.294C8.3576 12.3577 8.29685 12.4096 8.22664 12.4454C8.15643 12.4812 8.07875 12.4999 7.99994 12.5Z" fill="#66666D"/>
              </svg>          
              <h4 class="box_item_name">基本情報</h4>
            </div>
            <ul class="box_item_list">
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="box_item">
            <div class="box_item_wrapper">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99994 12.5C7.92113 12.4999 7.84345 12.4812 7.77324 12.4454C7.70304 12.4096 7.64228 12.3577 7.59594 12.294L3.59594 6.794C3.54174 6.71943 3.5092 6.63134 3.50193 6.53944C3.49466 6.44754 3.51294 6.35542 3.55474 6.27326C3.59655 6.19109 3.66025 6.12209 3.73882 6.07387C3.81739 6.02564 3.90776 6.00008 3.99994 6H11.9999C12.0921 6.00008 12.1825 6.02564 12.2611 6.07387C12.3396 6.12209 12.4033 6.19109 12.4451 6.27326C12.4869 6.35542 12.5052 6.44754 12.498 6.53944C12.4907 6.63134 12.4581 6.71943 12.4039 6.794L8.40394 12.294C8.3576 12.3577 8.29685 12.4096 8.22664 12.4454C8.15643 12.4812 8.07875 12.4999 7.99994 12.5Z" fill="#66666D"/>
              </svg>          
              <h4 class="box_item_name">基本情報</h4>
            </div>
            <ul class="box_item_list">
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
              <li class="box_item_list_item">
                <div class="box_item_list_item_left">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.667 10.833H15.8337V9.16634H11.667V10.833ZM11.667 8.33301H15.8337V6.66634H11.667V8.33301ZM4.16699 13.333H10.8337V12.8747C10.8337 12.2497 10.5281 11.7533 9.91699 11.3855C9.30588 11.0177 8.50033 10.8336 7.50033 10.833C6.50033 10.8325 5.69477 11.0166 5.08366 11.3855C4.47255 11.7544 4.16699 12.2508 4.16699 12.8747V13.333ZM7.50033 9.99967C7.95866 9.99967 8.35116 9.83662 8.67783 9.51051C9.00449 9.1844 9.16755 8.7919 9.16699 8.33301C9.16644 7.87412 9.00338 7.4819 8.67783 7.15634C8.35227 6.83079 7.95977 6.66745 7.50033 6.66634C7.04088 6.66523 6.64866 6.82856 6.32366 7.15634C5.99866 7.48412 5.83533 7.87634 5.83366 8.33301C5.83199 8.78967 5.99533 9.18217 6.32366 9.51051C6.65199 9.83884 7.04421 10.0019 7.50033 9.99967ZM3.33366 16.6663C2.87533 16.6663 2.4831 16.5033 2.15699 16.1772C1.83088 15.8511 1.66755 15.4586 1.66699 14.9997V4.99967C1.66699 4.54134 1.83033 4.14912 2.15699 3.82301C2.48366 3.4969 2.87588 3.33356 3.33366 3.33301H16.667C17.1253 3.33301 17.5178 3.49634 17.8445 3.82301C18.1712 4.14967 18.3342 4.5419 18.3337 4.99967V14.9997C18.3337 15.458 18.1706 15.8505 17.8445 16.1772C17.5184 16.5038 17.1259 16.6669 16.667 16.6663H3.33366ZM3.33366 14.9997H16.667V4.99967H3.33366V14.9997Z" fill="#66666D"/>
                  </svg>       
                  <h5 class="box_item_list_item_name">学籍番号</h5>
                </div>   
                <div class="box_item_list_item_textbox">
                  <p class="box_item_list_item_text">21B3001</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </div>
</Layout>

<style lang="scss">
  .contents{
    padding-bottom: 80px;
  }

  .inner{
    margin-top: 32px;
    display: flex;
  }

  .nav{
    width: 280px;
    position: sticky;
    top: 0px;
    height: 100dvh;
    padding: 16px 32px;
    border-right: 1px solid #dadae3;

    &_list{
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 8px;

      >.active{
        background-color: #e6e6ea;
      }
    }

    &_item{
      border-radius: 8px;
    }

    &_btn{
      width: 100%;
      display: flex;
      align-items: center;
      padding: 12px 16px;
      border-radius: 8px;
      cursor: pointer;

      &_label{
        font-size: 14px;
        color: #252528;
        flex: 1;
      }
    }
  }

  .box{
    width: 100%;
    padding: 24px 32px;

    &_title{
      font-size: 20px;
      font-weight: 500;
      color: #252528;
    }

    &_label{
      margin-top: 16px;
      font-size: 14px;
      color: #66666d;
    }

    &_list{
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &_item{
      display: flex;
      flex-direction: column;
      gap: 24px;

      &_wrapper{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px;
        border-radius: 16px;
        background-color: #e6e6ea;
      }

      &_name{
        font-size: 14px;
      }

      &_list{
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0 40px;

        &_item{
          display: flex;
          align-items: center;
          gap: 8px;

          &_left{
            width: 160px;
            display: flex;
            align-items: center;
            gap: 8px;
            padding-bottom: 8px;
          }

          &_name{
            font-size: 14px;
            color: #252528;
          }

          &_textbox{
            flex: 1;
            padding-bottom: 8px;
            border-bottom: 1px solid #dadae3;
          }
        }
      }
    }
  }
</style>
