---

---

<a href="/" class="totop_btn">
  <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.59975 15.75C3.71625 15.75 3 15.015 3 14.1075V7.50596C3 7.00721 3.22125 6.53471 3.6 6.22346L8.00025 2.60996C8.28139 2.37715 8.63497 2.24976 9 2.24976C9.36503 2.24976 9.71861 2.37715 9.99975 2.60996L14.3992 6.22346C14.7787 6.53471 15 7.00721 15 7.50596V14.1075C15 15.015 14.2837 15.75 13.4002 15.75H4.59975Z" stroke="#252528" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M7.125 15.75V11.625C7.125 11.2272 7.28304 10.8456 7.56434 10.5643C7.84564 10.283 8.22718 10.125 8.625 10.125H9.375C9.77282 10.125 10.1544 10.283 10.4357 10.5643C10.717 10.8456 10.875 11.2272 10.875 11.625V15.75" stroke="#252528" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>    
  <p class="btn_label">トップへ戻る</p>
</a>

<style lang="scss">
  .totop_btn{
    position: fixed;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    padding: 12px 16px;
    gap: 8px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #dadae3;
    border-radius: 100px;
    color: #252528;
    z-index: 999;

    &:hover{
      background-color: #E6E6EA;
    }
  }

  .btn_label{
    font-size: 12px;
    font-weight: 500;
  }

  .dis-none{
    display: none;
  }
  .dis-flex{
    display: flex;
    animation: dis-flex .6s ease-in-out forwards 4s;
    @keyframes dis-flex {
      0%{
        opacity: 1;
      }

      100%{
        opacity: 0;
      }
    }
  }
</style>

<script>
  const totopButton = document.querySelector(".totop_btn");
  
  // 現在のURLのパスが '/' の場合はボタンを非表示にする
  if (window.location.pathname === "/") {
    totopButton?.classList.add('dis-none')
    totopButton?.classList.remove('dis-flex')
  } else {
    totopButton?.classList.add('dis-flex')
    totopButton?.classList.remove('dis-none')
  }
</script>
