---

---

<section class="footer">
  <div class="footer_inner">
    <div class="footer_main">
      <a href="/" class="top_btn">トップ</a>
    </div>
    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item">
          <a href="" class="nav_link">授業</a>
          <ul class="nav_nstlist">
            <li class="nav_nstitem">
              <a href="" class="nav_nstlink">創造工学デザイン論</a>
            </li>
            <li class="nav_nstitem">
              <a href="" class="nav_nstlink">英語表現Ⅱ</a>
            </li>
            <li class="nav_nstitem">
              <a href="" class="nav_nstlink">物理学演習</a>
            </li>
          </ul>
        </li>
        <li class="nav_item">
          <a href="" class="nav_link">授業</a>
          <ul class="nav_nstlist">
            <li class="nav_nstitem">
              <a href="" class="nav_nstlink">創造工学デザイン論</a>
            </li>
            <li class="nav_nstitem">
              <a href="" class="nav_nstlink">英語表現Ⅱ</a>
            </li>
            <li class="nav_nstitem">
              <a href="" class="nav_nstlink">物理学演習</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="footer_bottom"></div>
  </div>
</section>

<style lang="scss">
  .footer{
    width: 100%;
    background-color: #252528;

    &_inner{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 40px 24px;
    }
  }
</style>
