---
import Welcome from '../../components/Welcome.astro';
import Layout from '../../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title='成績'
  headerTitle='成績'
>
  <div class="contents">
    <div class="box">
      <nav class="tag">
        <ul class="tag_list">
          <li class="tag_item active">
            <button class="tag_btn active" id="tag_item">全て</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">s-1</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">s-2</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">s-3</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">s-4</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">s-5</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">s-6</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">s-7</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">s-8</button>
          </li>
        </ul>
      </nav>
      <div class="grades_box">
        <p class="box_label" id="box_label">全て</p>
        <ul class="sp_grades_list">
          <li class="sp_grades_item">
            <p class="grades_period">s-1</p>
            <div class="sp_grades_table">
              <div class="sp_grades_thead">
                <p class="sp_grades_thead_subject">科目</p>
                <div class="sp_grades_thead_label">
                  <p class="sp_grades_thead_label_elem">教員氏名</p>
                  <p class="sp_grades_thead_label_elem">単位数</p>
                  <p class="sp_grades_thead_label_elem">GPA対象</p>
                  <p class="sp_grades_thead_label_elem">評価</p>
                </div>
              </div>
              <div class="sp_grades_tbody_wrapper">
                <div class="sp_grades_tbody">
                  <p class="sp_grades_tbody_subject">創造工学デザイン論及び演習</p>
                  <div class="sp_grades_tbody_label">
                    <p class="sp_grades_tbody_label_elem">千葉 工大</p>
                    <p class="sp_grades_tbody_label_elem">4</p>
                    <p class="sp_grades_tbody_label_elem">◯</p>
                    <p class="sp_grades_tbody_label_elem">
                      <span>S</span>
                    </p>
                  </div>
                </div>
                <div class="sp_grades_tbody">
                  <p class="sp_grades_tbody_subject">物理学演習</p>
                  <div class="sp_grades_tbody_label">
                    <p class="sp_grades_tbody_label_elem">千葉 工大</p>
                    <p class="sp_grades_tbody_label_elem">2</p>
                    <p class="sp_grades_tbody_label_elem">◯</p>
                    <p class="sp_grades_tbody_label_elem">
                      <span>S</span>
                    </p>
                  </div>
                </div>
                <div class="sp_grades_tbody">
                  <p class="sp_grades_tbody_subject">線形代数</p>
                  <div class="sp_grades_tbody_label">
                    <p class="sp_grades_tbody_label_elem">千葉 工大</p>
                    <p class="sp_grades_tbody_label_elem">2</p>
                    <p class="sp_grades_tbody_label_elem">◯</p>
                    <p class="sp_grades_tbody_label_elem">
                      <span>A</span>
                    </p>
                  </div>
                </div>
                <div class="sp_grades_tbody">
                  <p class="sp_grades_tbody_subject">創造工学デザイン論及び演習</p>
                  <div class="sp_grades_tbody_label">
                    <p class="sp_grades_tbody_label_elem">千葉 工大</p>
                    <p class="sp_grades_tbody_label_elem">1</p>
                    <p class="sp_grades_tbody_label_elem">◯</p>
                    <p class="sp_grades_tbody_label_elem">
                      <span class="sp_grades_tbody_grade">S</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="sp_grades_item">
            <p class="grades_period">s-2</p>
            <div class="sp_grades_table">
              <div class="sp_grades_thead">
                <p class="sp_grades_thead_subject">科目</p>
                <div class="sp_grades_thead_label">
                  <p class="sp_grades_thead_label_elem">教員氏名</p>
                  <p class="sp_grades_thead_label_elem">単位数</p>
                  <p class="sp_grades_thead_label_elem">GPA対象</p>
                  <p class="sp_grades_thead_label_elem">評価</p>
                </div>
              </div>
              <div class="sp_grades_tbody">
                <p class="sp_grades_tbody_subject">創造工学デザイン論及び演習</p>
                <div class="sp_grades_tbody_label">
                  <p class="sp_grades_tbody_label_elem">千葉 工大</p>
                  <p class="sp_grades_tbody_label_elem">1</p>
                  <p class="sp_grades_tbody_label_elem"></p>
                  <p class="sp_grades_tbody_label_elem">
                    <span>S</span>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="grades_list">
          <li class="grades_item">
            <p class="grades_period">s-1</p>
            <table class="grades_item_table">
              <thead>
                <tr class="flex">
                  <th>科目</th>
                  <th>教員氏名</th>
                  <th>単位数</th>
                  <th>GPA対象</th>
                  <th>評価</th>
                </tr>
              </thead>
              <tbody>
                <tr class="flex">
                  <td>創造工学デザイン論及び演習</td>
                  <td>千葉 工大</td>
                  <td>1</td>
                  <td></td>
                  <td class="grade">
                    <p class="grade_label">S</p>
                  </td>
                </tr>
                <tr class="flex">
                  <td>物理学演習</td>
                  <td>千葉 工大</td>
                  <td>1</td>
                  <td></td>
                  <td class="grade">
                    <p class="grade_label">合</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
          <li class="grades_item">
            <p class="grades_period">s-2</p>
            <table class="grades_item_table">
              <thead>
                <tr class="flex">
                  <th>科目</th>
                  <th>教員氏名</th>
                  <th>単位数</th>
                  <th>GPA対象</th>
                  <th>評価</th>
                </tr>
              </thead>
              <tbody>
                <tr class="flex">
                  <td>創造工学デザイン論及び演習</td>
                  <td>千葉 工大</td>
                  <td>1</td>
                  <td></td>
                  <td class="grade">
                    <p class="grade_label">S</p>
                  </td>
                </tr>
                <tr class="flex">
                  <td>物理学演習</td>
                  <td>千葉 工大</td>
                  <td>1</td>
                  <td></td>
                  <td class="grade">
                    <p class="grade_label">合</p>
                  </td>
                </tr>

              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .contents{
    padding-bottom: 80px;
    min-height: 100dvh;

    @media (width >= 1920px) {
			padding-inline: 16px;
		}
  }

  .box_label{
    font-size: 16px;
    color: #252528;
    font-weight: 500;

    @media (width < 768px) {
			font-size: 14px;
      margin-left: 8px;
		}
  }

  .box{
    margin-top: 40px;

    @media (width < 768px) {
			margin-top: 24px;
		}

    &_register{
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid #dadae3;
    }

    &_header{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &_btns{
      display: flex;
      align-items: center;
      gap: 8px;

      >.judge{
        background-color: #F88B17;
      }
    }

    &_btn{
      padding: 16px 32px;
      background-color: #dadae3;
      border-radius: 100px;
      color: #fff;
      font-size: 12px;
    }
  }

  .tag{
		margin-top: 16px;
		display: flex;
		gap: 8;
		align-items: center;
    overflow-x: scroll;
  
    &::-webkit-scrollbar{
      display: none;
    }

		&_list{
			display: flex;
			align-items: center;
			gap: 8px;
		}

		&_item{
			font-size: 12px;
			color: #66666d;
			font-weight: 500;

			>.active{
				color: #fff;
				background-color: #252528;
			}
		}

		&_btn{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 56px;
			height: 36px;
			border-radius: 100px;
		}
	}

  .detail_box{
    position: relative;
    margin-top: 16px;
    display: flex;
    gap: 16px;

&_total{
  width: 100%;
  padding: 24px 24px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dadae3;

  &_label{
    font-size: 14px;
    font-weight: 400;
    color: #66666d;
  }

  &_numberwrapper{
    display: flex;
    gap: 16px;
    align-items: flex-end;
    justify-content: right;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #66666d;
    text-align: right;
  }

  &_number{
    font-size: 32px;
    color: #252528;
  }

  &_upwrapper{
    display: flex;
    align-items: center;
    gap: 8px;

    >.up_icon{
      background-color: #4FDC3F;
      border-radius: 100px;
      transform: rotate(-45deg);
    }
  }

  &_up_number{
    color: #4FDC3F;
  }
}

&_list{
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

&_item{
  display: flex;
  gap: 8px;
  align-items: center;

  &_label{
    width: 72px;
    font-size: 10px;
    font-weight: 400;
    color: #66666d;
  }

  &_Label{
    font-size: 10px;
    font-weight: 400;
    color: #66666d;
  }

  &_progresswrapper{
    flex: 1;
    height: 6px;
    background-color: #dadae3;
    border-radius: 100px;
  }

  &_progress{
    width: 60%;
    height: 100%;
    border-radius: 100px;
    background-color: #6161DA;
  }

  &_number{
    font-size: 12px;
    font-weight: 400;
    color: #66666d;
  }

  &_list{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
  }

  .grades_box{
    margin-top: 32px;

    @media (width < 768px) {
			margin-top: 24px;
		}
  }
  .grades_list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (width < 768px) {
			display: none;
		}
  }
  .grades_item{
    width: 100%;
  }
  .grades_period{
    display: inline-block;
    padding: 8px 16px;
    background-color: #dadae3;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #252528;

    @media (width < 768px) {
      font-size: 12px;
    }
  }

  .grades_item_table{
    width: 100%;
    // max-width: 800px;
    padding: 0 8px;
    margin-top: 16px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .sp_grades{

    &_list{
      width: 100%;
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media (width >= 768px) {
			  display: none;
		  }
    }
    
    &_item{
      width: 100%;
    }

    &_table{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 24px;
      // padding-inline: 8px;
    }

    &_thead{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      color: #66666d;
      font-weight: 400;

      &_subject{
        flex: 1;
        font-size: 12px;
      }
      &_label{
        display: flex;
        align-items: center;

        &_elem{
          width: 72px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          border-right: 1px solid #dadae3;

          &:first-of-type{
            flex: 1;
            width: 100%;
            min-width: 96px;
            display: block;
            margin-right: 8px;
            justify-content: flex-start;
          }
        }
      }
    }
    &_tbody_wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    &_tbody{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-weight: 400;

      &_subject{
        flex: 1;
        font-size: 14px;
      }
      &_label{
        display: flex;
        align-items: center;

        &_elem{
          position: relative;
          width: 72px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;

          &::after{
            position: absolute;
            content: "";
            right: 0;
            width: 1px;
            height: 16px;
            background-color: #dadae3;
          }

          &:first-of-type{
            flex: 1;
            width: 100%;
            min-width: 96px;
            display: block;
            margin-right: 8px;
            justify-content: flex-start;
          }
          &:last-of-type{
            >span{
              padding: 8px 16px;
              background-color: #6161DA;
              border-radius: 12px;
              color: #fff;
            }
          }
        }
      }
    }
  }
  
  table {
    width: 100%;
    // table-layout: fixed; /* 各列の幅を固定 */
  }

thead th, tbody td {
  overflow: hidden; /* 長すぎるテキストを隠す */
  text-overflow: ellipsis; /* 長いテキストを省略記号にする */
  white-space: nowrap; /* 改行を防ぐ */
}

thead th{
  font-size: 14px;
  font-weight: 400;
  color: #66666d;
}


tbody{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
tbody tr{
  // width: 100%;
  // display: flex;
}
tbody td{
  margin: auto 0;
  padding: 12px 0;
  font-size: 14px;
}

.flex{
  width: 100%;
  display: flex;
}

/* 各列幅を明示的に指定 */
thead th:nth-child(1),
tbody td:nth-child(1) {
  flex: 1;
  width: 100%;
  min-width: 0px;
}

tbody td:nth-child(1){
  font-size: 16px;
  font-weight: 500;

  @media (width < 1080px) {
    font-size: 14px;
  }
}

thead th:nth-child(2),
tbody td:nth-child(2) {
  width: 10%; /* 教員氏名 */
  min-width: 120px;
  position: relative;
  text-align: center;
}

tbody td:nth-child(2)::before{
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 16px;
  background-color: #dadae3;
}
tbody td:nth-child(2)::after{
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 16px;
  background-color: #dadae3;
}

thead th:nth-child(3),
tbody td:nth-child(3) {
  width: 8%; /* 単位数 */
  min-width: 100px;
  text-align: center;
  position: relative;
}

tbody td:nth-child(3)::after{
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 16px;
  background-color: #dadae3;
}

thead th:nth-child(4),
tbody td:nth-child(4) {
  width: 8%; /* GPA対象 */
  min-width: 100px;
  text-align: center;
  position: relative;
}

tbody td:nth-child(4)::after{
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 16px;
  background-color: #dadae3;
}

thead th:nth-child(5),
tbody td:nth-child(5) {
  width: 8%; /* 評価 */
  min-width: 100px;
  text-align: center;
  position: relative;
}
tbody td:nth-child(5){
  padding: 0;
}

.grade_label{
  display: inline-block;
  width: 40px;
  border-radius: 12px;
  padding: 8px 0;
  background-color: #6161DA;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
</style>

<script>
  const tag_btns = document.querySelectorAll('#tag_item')
	tag_btns.forEach((tag_btn_target) => {
		tag_btn_target.addEventListener('click', () => {
			tag_btns.forEach((tag_btn_all) => {
				tag_btn_all.classList.remove('active')
			})
      const target_label = tag_btn_target.textContent?.trim()
      const box_label = document.getElementById('box_label')
      if (box_label && target_label) {
        box_label.textContent = target_label
      }
      
			tag_btn_target.classList.add('active')
		})
		tag_btn_target.addEventListener('mouseover', () => {
			tag_btn_target.classList.add('tag_item_mouseover')
			tag_btn_target.classList.remove('tag_item_mouseleave')
		})
		tag_btn_target.addEventListener('mouseleave', () => {
			tag_btn_target.classList.remove('tag_item_mouseover')
			tag_btn_target.classList.add('tag_item_mouseleave')
		})
	})
</script>
