---
import Layout from '../../layouts/Layout.astro';
import IncreaseCreditDetail from '../../components/IncreaseCreditDetail.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title='見込み判定/履修'
  headerTitle='見込み判定/履修'
>
  <div class="container">
    <section class="box box_detail">
      <div class="box_header" id="box_header">
        <div class="box_btns">
          <a href="/course" class="box_btn back" id="pageback_btn">履修選択へ戻る</a>
          <a href="/course" class="box_btn judge" id="complete-btn">完了</a>
        </div>
      </div>
      <div class="judge_box">
        <h3 class="section_title">見込み判定</h3>
        <p class="judge_text">判定に異常はありませんでした。このまま完了ボタンを押して履修登録を完了させてください。</p>
      </div>
      <IncreaseCreditDetail />
    </section>
  </div>
</Layout>

<style lang="scss">
  .container{
    padding-bottom: 80px;
    min-height: 100dvh;

    @media (width >= 1920px) {
			padding-inline: 16px;
		}
  }

  .section_title{
    margin-top: 32px;
		font-size: 20px;
		font-weight: 600;
		color: #252528;
	}

  .judge_text{
    font-size: 14px;
    font-weight: 400;
    color: #66666d;
    margin-top: 16px;
    line-height: 1.6;

    @media (width <= 414px) {
      font-size: 12px;
		}
  }

  .box{
    margin-top: 40px;

    @media (width < 768px) {
      margin-top: 24px;
    }

    &_header{
      position: sticky;
      top: 40px;
      display: flex;
      align-items: center;
      z-index: 2;

      @media (width < 1080px) {
        top: 80px;
		  }

      @media (width < 414px) {
        // flex-direction: column;
        // align-items: baseline;
        // gap: 16px;
		  }
    }

    &_label{
      font-size: 14px;
      color: #66666d;
      font-weight: 400;
      flex: 1;
    }

    &_btns{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // align-self: flex-end;
      // margin-right: 0;
      // margin-left: auto;
      gap: 8px;

      >.judge{
        background-color: #F88B17;

        &:hover{
          transition: all .3s;
          transform: scale(1.05);
        }
      }

      >.back{
        position: relative;
        border: 1px solid #6161DA;
        background-color: #f9f9f9;
        color: #6161DA;

        &:hover{
          color: #fff;
          background-color: #6161DA;
          transition: all .3s;
          transform: scale(1.05);
        }

        &::before{
          content: "←";
          position: relative;
          left: -8px;
        }
      }
    }

    &_btn{
      padding: 16px 32px;
      background-color: #dadae3;
      border-radius: 100px;
      color: #fff;
      font-size: 12px;
      transition: all .3s;

      @media (width < 414px) {
        padding: 16px 24px;
		  }
    }
  }

  .detail_container{
    margin-top: 40px;
  }
</style>

<script>
  const completeBtn = document.getElementById("complete-btn");
  completeBtn?.addEventListener("click", (event) => {
    event.preventDefault();
    alert("履修登録が完了しました");
    window.location.href = "/course";
  });
</script>
